<!DOCTYPE html>
<!-- saved from url=(0048)http://www.foxtel.com.au/get/build-your-own.html -->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en">
	<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="runModes" content="[samplecontent, crx2, publish, crx3mongo, prod]">

<link rel="stylesheet" href="etc/designs/foxtel/styles/website-upgrades-foxtel-styles.css" type="text/css">


<link rel="icon" type="image/vnd.microsoft.icon" href="http://www.foxtel.com.au/etc/designs/foxtel/favicon.ico">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="http://www.foxtel.com.au/etc/designs/foxtel/favicon.ico">

<script type="text/javascript" src="etc/designs/foxtel/scripts/jquery.min.js"></script>
<script type="text/javascript" src="etc/designs/foxtel/scripts/foxtel-bootstrap.js"></script>
<script type="text/javascript" src="etc/designs/foxtel/scripts/foxtel-carousel.js"></script>
<script type="text/javascript" src="etc/designs/foxtel/scripts/skiplinks.js"></script>
<script type="text/javascript" src="etc/designs/foxtel/scripts/main-plugin.js"></script>

<title>{{title}}</title>


</head>
<body data-main-plugin="">
<div id="skip-links" style="display:none">
	<a href="#content-header">Skip to Content</a>
	<a href="#top-search-text">Skip to Search</a>
</div>
{{>header}}

{{body}}

{{>terms-conditions}}

{{>footer}}


</body>
</html>



