---
title: Broadband bundles
---

<main class="main" id="" role="main" style="padding-left: 0; padding-right: 0;">
    <div class="container-fluid header-layer"> <!-- Start Header -->
        <div class="row">
            <div class="img-package-combos">
                <img alt="" src="./etc/designs/foxtel/clientlibs/img/seelct-and-customise-banner.jpg">
            </div>
        </div>
        <div class="compos-block main-feature-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 mt-40 pb-40">
                        <p class="main-feature font--thin font--lg">Misc</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Header -->


    <div class="container mt-40"> 

        <div class="row">
            <div class="col-xs-12">
               <h3 class="brand-primary">WHAT YOU WILL GET WITH OUR PLATINUM HD UNLIMITED HOME BUNDLE...</h3>
               <p class="mt-20 mb-40">Unlimited Broadband and over 70 channels with all of our channel packs, including HD, Foxtel Go, PLUS Presto Entertainment (TV and Movies)<sup>***</sup></p>
            </div> <!-- row -->
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <a href="#" >
                    <div class="package-thumb">
                        <img src="https://www.foxtel.com.au/content/dam/foxtel/get/broadband/btn-platinum.png" alt="">
                    </div>
                    <div class="package-desc">
                        <p class="title">Unlimited Broadband</p>
                        <small class="grey-text">Never worry about going over your data limit again!</small>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a href="#" >
                    <div class="package-thumb">
                        <img src="https://www.foxtel.com.au/content/dam/foxtel/shared/tiers/btn-homephone.png" alt="">
                    </div>
                    <div class="package-desc">
                        <p class="title">Homephone</p>
                        <small class="grey-text">Unlimited standard local and national calls</small>
                    </div>
                </a>
            </div>
        </div> <!-- row -->

        <!-- Plus icon -->
        <div class="circle-divider"> 
            <span class="icon-plus"></span> 
            <hr> 
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <ul class="list-unstyled pt-10">
                    <li class="vertical-align-content pb-20">
                        <div class="package-thumb">
                            <img src="https://www.foxtel.com.au/content/dam/foxtel/get/broadband/btn-entertainment-pack.png" alt="">
                        </div>
                        <div class="package-desc pl-0">
                            <p class="title">Entertainment pack</p>
                            <small class="grey-text">Starter pack with over 40 channels</small>
                        </div>
                    </li>
                    <li class="vertical-align-content pb-20">
                        <div class="package-thumb">
                            <img src="https://www.foxtel.com.au/content/dam/foxtel/shared/tiers/btn-sports.png" alt="">
                        </div>
                        <div class="package-desc pl-0">
                            <p class="title">Sports</p>
                            <small class="grey-text">10 dedicated sports channels</small>
                        </div>
                    </li>
                    <li class="vertical-align-content pb-20">
                        <div class="package-thumb">
                            <img src="https://www.foxtel.com.au/content/dam/foxtel/shared/tiers/btn-docos.png" alt="">
                        </div>
                        <div class="package-desc pl-0">
                            <p class="title">Docos</p>
                            <small class="grey-text">10 dedicated sports channels</small>
                        </div>
                    </li>
                    <li class="vertical-align-content pb-20">
                        <div class="package-thumb">
                            <img src="https://www.foxtel.com.au/content/dam/foxtel/shared/tiers/btn-ent-plus.png" alt="">
                        </div>
                        <div class="package-desc pl-0">
                            <p class="title">Entertainment Plus</p>
                            <small class="grey-text">10 dedicated sports channels</small>
                        </div>
                    </li> 
                    <li class="vertical-align-content pb-20">
                        <div class="package-thumb">
                            <img src="https://www.foxtel.com.au/content/dam/foxtel/get/broadband/btn-presto.png" alt="">
                        </div>
                        <div class="package-desc pl-0">
                            <p class="title">Presto subscription</p>
                            <small class="grey-text">Presto subsciption until 31 January 2017**</small>
                        </div>
                    </li> 
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <ul class="list-unstyled pt-10">
                    <li class="vertical-align-content pb-20">
                        <div class="package-thumb">
                            <img src="https://www.foxtel.com.au/content/dam/foxtel/shared/tiers/btn-movies.png" alt="">
                        </div>
                        <div class="package-desc pl-0">
                            <p class="title">Movies</p>
                            <small class="grey-text">9 dedicated sports channels</small>
                        </div>
                    </li>
                    <li class="vertical-align-content pb-20">
                        <div class="package-thumb">
                            <img src="https://www.foxtel.com.au/content/dam/foxtel/shared/tiers/btn-drama.png" alt="">
                        </div>
                        <div class="package-desc pl-0">
                            <p class="title">Drama</p>
                            <small class="grey-text">9 dedicated sports channels</small>
                        </div>
                    </li>
                    <li class="vertical-align-content pb-20">
                        <div class="package-thumb">
                            <img src="https://www.foxtel.com.au/content/dam/foxtel/shared/tiers/btn-kids.png" alt="">
                        </div>
                        <div class="package-desc pl-0">
                            <p class="title">Kids</p>
                            <small class="grey-text">9 dedicated sports channels</small>
                        </div>
                    </li>
                    <li class="vertical-align-content pb-20">
                        <div class="package-thumb">
                            <img src="https://www.foxtel.com.au/content/dam/foxtel/shared/tiers/icon-hd.png" alt="">
                        </div>
                        <div class="package-desc pl-0">
                            <p class="title">HD pack</p>
                            <small class="grey-text">Our best channels in HD</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div> <!-- row -->

        
    </div>

</main>

