---
title: Broadband bundles
---

<main class="main" id="" role="main" style="padding-left: 0; padding-right: 0;">
	<div class="container-fluid header-layer">
		<div class="row hidden-xs">
			<div class="img-package-combos">
				<img alt="" src="./etc/designs/foxtel/clientlibs/img/seelct-and-customise-banner.jpg">
			</div>
		</div>
		<div class="compos-block main-feature-container hidden-xs">
			<div class="container hidden-xs">
				<div class="row">
					<div class="col-xs-12 mt-40 pb-40">
						<p class="main-feature font--thin font--lg">Broadband bundles</p>
					</div>
				</div>
			</div>

			<!--
				2 tabs: use class col-sm-6
				3 tabs: use class col-sm-4
				4 tabs: use class col-sm-3
			-->
			<div class="menu-group">
				<div class="container bb-detail-tabs">
					<div class="row">
						<div class="col-sm-4">
							<div class="tab bb-tab-orange active">
								<a href="#" class="text one-line">
									100<span>GB</span>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="tab bb-tab-pink">
								<a href="#" class="text two-lines">
									UNLIMITED<span>START WITH THE BASICS</span>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="tab bb-tab-purple">
								<a href="#" class="text two-lines">
									UNLIMITED<span>GET THE WHOLE LOT</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row visible-xs">
			<div class="hd-page-title-color">
				<h1>100GB</h1>
			</div>
		</div>
	</div>
			
	<div class="container bb-detail-container bb-skin-orange">
		<div class="row bb-plan">
			<div class="col-md-6">
				<div class="image">
				<img src="https://www-sit3.aws.foxtel.com.au/content/dam/foxtel/get/broadband/bb_flash.jpg" alt="bundle plan">
				</div>
			</div>
			<div class="col-md-6">
				<div class="bb-plan-detail">
					<div class="plan-heading">
						<div class="title">100<span>GB</span></div>
						<div class="sub-title">Entertainment Home Bundle</div>
						<p>Ideal for surfing the web, email and a little video or gaming</p>
					</div>
						

					<div class="plan-compare">						
						<div class="detail plan-12 active">
							<div class="option-wrapper">
								<div class="radio-option is-checked">
									<input type="radio" checked="checked" />
								</div>
								<div class="title">12 month plan</div>
								<div class="plan-price"><sup>$</sup>105<sup class="star">*</sup><sub>/mth</sub></div>
								<div class="note">Save $20 per month</div>
							</div>
							<div class="cost-item-row">
								<div class="cost-item-wrapper">
									<div class="cost-item">										
										<span class="label">Equipment fees</span>
										<a href="#" class="help-tooltip">
											<span class="icon-question-tooltip"></span>
											<span class="tooltip-content">										
			            						<p class="title">Equipment fees</p>
			            						<div class="cost-item-breakdown">
			            							<div class="breakdown-row">
														<span class="breakdown-label">iQ2 set top box & remote</span>
														<span class="breakdown-price">$125</span>
													</div>
													<div class="breakdown-row">
														<span class="breakdown-label">Foxtel Hub modem</span>
														<span class="breakdown-price">$0</span>
													</div>
													<div class="breakdown-row total">
														<span class="breakdown-price">$125</span>
													</div>					
												</div>
			            						<p>Equipment fees are one off costs.</p>
												<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
			            						<b class="tooltip-arrow"></b>
		            						</span>
		        						</a>
	        						</div>
	        						<span class="item-price">$235</span>										
								</div>
							</div>
							<div class="cost-item-row">
								<div class="cost-item-wrapper">
									<div class="cost-item">
										<span class="label">Standard installation</span>
										<a href="#" class="help-tooltip">
											<span class="icon-question-tooltip"></span>
											<span class="tooltip-content">										
			            						<p class="title">Installation fees</p>
			            						<div class="cost-item-breakdown">
			            							<div class="breakdown-row">
														<span class="breakdown-label">iQ2 set top box & remote</span>
														<span class="breakdown-price">$125</span>
													</div>
													<div class="breakdown-row">
														<span class="breakdown-label">Foxtel Hub modem</span>
														<span class="breakdown-price">$0</span>
													</div>
													<div class="breakdown-row total">
														<span class="breakdown-price">$125</span>
													</div>					
												</div>
			            						<p>Equipment fees are one off costs.</p>
												<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
			            						<b class="tooltip-arrow"></b>
		            						</span>
		        						</a>
									</div>
									<span class="item-price">$193</span>
								</div>
								<div class="note">Save $75 when you sign up online</div>
							</div>
							<div class="min-cost-content">
								<b>*Min cost $X,XXX on a 12 month plan</b> inc. one off costs, on a direct debit plan if you sign up online. <a href="https://www.foxtel.com.au/content/dam/foxtel/about/PDF/entertainment-50gb-home-bundle.pdf" target="_blank">Critical Information Summary</a>.
							</div>						
						</div>							
						<div class="detail plan-24 best-value-ribbon">
							<div class="option-wrapper">
								<div class="radio-option">
									<input type="radio" />
								</div>
								<div class="title">24 month plan</div>
								<div class="plan-price"><sup>$</sup>105<sup class="star">*</sup><sub>/mth</sub></div>
								<div class="note">Save $20 per month</div>
							</div>
							<div class="cost-item-row">
								<div class="cost-item-wrapper">
									<div class="cost-item">										
										<span class="label">Equipment fees</span>
										<a href="#" class="help-tooltip">
											<span class="icon-question-tooltip"></span>
											<span class="tooltip-content">										
			            						<p class="title">Equipment fees</p>
			            						<div class="cost-item-breakdown">
			            							<div class="breakdown-row">
														<span class="breakdown-label">iQ2 set top box & remote</span>
														<span class="breakdown-price">$125</span>
													</div>
													<div class="breakdown-row">
														<span class="breakdown-label">Foxtel Hub modem</span>
														<span class="breakdown-price">$0</span>
													</div>
													<div class="breakdown-row total">
														<span class="breakdown-price">$125</span>
													</div>					
												</div>
			            						<p>Equipment fees are one off costs.</p>
												<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
			            						<b class="tooltip-arrow"></b>
		            						</span>
		        						</a>
	        						</div>
	        						<span class="item-price">$125</span>										
								</div>
							</div>
							<div class="cost-item-row">
								<div class="cost-item-wrapper">
									<div class="cost-item">
										<span class="label">Standard installation</span>
										<a href="#" class="help-tooltip">
											<span class="icon-question-tooltip"></span>
											<span class="tooltip-content">										
			            						<p class="title">Installation fees</p>
			            						<div class="cost-item-breakdown">
			            							<div class="breakdown-row">
														<span class="breakdown-label">iQ2 set top box & remote</span>
														<span class="breakdown-price">$125</span>
													</div>
													<div class="breakdown-row">
														<span class="breakdown-label">Foxtel Hub modem</span>
														<span class="breakdown-price">$0</span>
													</div>
													<div class="breakdown-row total">
														<span class="breakdown-price">$125</span>
													</div>					
												</div>
			            						<p>Equipment fees are one off costs.</p>
												<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
			            						<b class="tooltip-arrow"></b>
		            						</span>
		        						</a>
									</div>
									<span class="item-price">$134</span>
								</div>
								<div class="note">Save $75 when you sign up online</div>
							</div>
							<div class="min-cost-content">
								<b>*Min cost $X,XXX on a 24 month plan</b> inc. one off costs, on a direct debit plan if you sign up online. <a href="https://www.foxtel.com.au/content/dam/foxtel/about/PDF/entertainment-50gb-home-bundle.pdf" target="_blank">Critical Information Summary</a>.
							</div>						
						</div>							
					</div><!--plan-compare end-->
					<div class="sign-up-section">
						<div class="sign-up-box">
							<div class="sign-up-text"><b>Sign up online</b> and we'll waive the $75 standard TV install fee!</div>
							<div class="button"><a href="" class="btn_">Check Availability</a></div>
						</div>
						<div class="call-us-text">Or call us on 1300 785 622</div>
					</div>
				</div><!--bb-plan-detail end-->
			</div>
		</div><!--bb-plan end-->
	</div><!--bb-detail-container end-->

	<!--bb-carousel start-->
	<div class="container">  
	      <div class="row">
	        <div class="col-xs-12 text-center mt-20">
	          <h2>Discover what's included in this bundle:</h2>
	        </div>  
	      </div>
	</div> <!--container end-->

	<div class="bb-detail-carousel">
		<div id="bb-package-details-carousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		  <div class="container">  
		    <ol class="carousel-indicators">
		      <li data-target="#bb-package-details-carousel" data-slide-to="0" class="col-sm-4">
		          <span class="icon-tv carousel-main-nav-mobile"></span>
		          <div class="carousel-main-nav-desktop">
		            <img id="icon-tv" src="/etc/designs/foxtel/clientlibs/img/tv-icon-large.png" alt="Home phone">
		          </div>
		          <p class="carousel-titles">Foxtel TV <span class="icon-close carousel-main-icon-arrows"></span></p>
		          <p class="carousel-subtext">Get over 70 channels, iQ2,<br>Foxtel Go & Presto</p>
		      </li>

		      <li data-target="#bb-package-details-carousel" data-slide-to="1" class="col-sm-4" role="link">
		          <span class="icon-broadband carousel-main-nav-mobile"></span>
		          <div class="carousel-main-nav-desktop">
		            <img id="icon-broadband" src="/etc/designs/foxtel/clientlibs/img/broadband-icon-large.png" alt="Home phone">
		          </div>
		          <p class="carousel-titles">Broadband <span class="icon-arrow-bottom carousel-main-icon-arrows"></span></p>
		          <p class="carousel-subtext">100GB included in your<br>monthly data</p>
		      </li>

		      <li data-target="#bb-package-details-carousel" data-slide-to="2" class="col-sm-4" role="link">
		        <span class="icon-phone carousel-main-nav-mobile"></span>
		          <div class="carousel-main-nav-desktop">
		            <img id="icon-phone" src="/etc/designs/foxtel/clientlibs/img/phone-icon-large.png" alt="Home phone">
		          </div>
		          <p class="carousel-titles">Home phone <span class="icon-arrow-bottom carousel-main-icon-arrows"></span></p>
		          <p class="carousel-subtext">get unlimited standard<br>local calls</p>
		      </li>
		    </ol>
		  </div>

		  <!-- Wrapper for slides -->
		    <div class="carousel-inner" role="listbox">
		        <div class="item carousel-content-0 active">
		        </div>
		        <div class="item carousel-content-1">
		        </div>
		        <div class="item carousel-content-2">
		        </div>
		    </div>

		   
		  <!-- Controls -->
		  <a class="left carousel-control" href="#bb-package-details-carousel" data-slide="prev" style="display: none">
		    <div class="vertical-align-content">
		      <span class="icon-arrow-left"></span>
		    </div>
		  </a>
		  <a class="right carousel-control" href="#bb-package-details-carousel" data-slide="next" style="display: none">
		    <div class="vertical-align-content">
		      <span class="icon-arrow-right"></span>
		    </div>
		  </a>
		</div>
	</div>
	<!--bb-carousel end-->

	<div class="container bb-detail-container bb-skin-orange">	
		<div class="benefit-section">
			<h3 class="benefit-heading">Plus, with Foxtel you'll also get...</h3>
			<div class="row">
				<div class="col-sm-4">
					<div class="benefit-item">
						<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/flexibility-logo.png" alt="Flexibility to change" /></div>
						<div class="item-content">
							<h3 class="title">Flexibility to change</h3>
							<div class="desc">Change your plan once a month with no charge</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="benefit-item">
						<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/stress-free-logo.png" alt="Stress-free connection" /></div>
						<div class="item-content">
							<h3 class="title">Stress-free connection</h3>
							<div class="desc">Our dedicated Switch Squad will get you set up</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="benefit-item">
						<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/support-logo.png" alt="Fulltime support" /></div>
						<div class="item-content">
							<h3 class="title">Fulltime support</h3>
							<div class="desc">From our 24x7 Fix Squad</div>
						</div>
					</div>
				</div>
			</div>
			<hr class="gradient-divider" />
		</div><!--benefit-section end-->
		<div class="extras-section">
			<div class="extras-content-wrapper">
				<div class="extras-content">
					<h3 class="extras-heading">Add optional <b>extras</b> on the next step...</h3>
					<p class="intro">You can customise your bundle with...</p>
					<div class="row">
						<div class="col-sm-6">
							<div class="extras-item">
								<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/get-optional-extras-1.jpg" alt="Channel packs" /></div>
								<div class="item-content">
									<div class="title">Channel packs</div>
									<div class="desc">Choose from Sports, Movies, Drama, Kids, Docos & Entertainment Plus</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="extras-item">
								<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/get-optional-extras-2.jpg" alt="Multiroom" /></div>
								<div class="item-content">
									<div class="title">Multiroom</div>
									<div class="desc">Get Foxtel in a whole bunch of rooms</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="extras-item">
								<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/phone-features.png" alt="Phone features" /></div>
								<div class="item-content">
									<div class="title">Phone features</div>
									<div class="desc">You can add multiple numbers, phone & fax line or a silent number.</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="extras-item">
								<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/call-packs.png" alt="Call packs" /></div>
								<div class="item-content">
									<div class="title">Call packs</div>
									<div class="desc">Save with unlimited standard mobile & national calls or discounted international calls.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bundle-block">
				<div class="block-title">ENTERTAINMENT 100GB HOME BUNDLE</div>
				<div class="block-detail">
					<ul class="list">
						<li>&#10004; Foxtel iQ with Entertainment pack</li>
						<li>&#10004; 100GB Broadband</li>
						<li>&#10004; Home phone</li>
					</ul>
					<div class="price"><sup>$</sup>105<sup>*</sup></div>
					<div class="note">per month on a 12 month direct debit plan</div>
					<div class="min-cost-content"><b>*Min cost $XXXX on a 12 month direct debit plan</b>, includes applicable equipment, installation and activation fees.</div>
					<div class="button"><a href="" class="btn_">Check Availability</a></div>
				</div>
			</div>
		</div><!--extras-section end-->
	</div><!--bb-detail-container end-->

	<!-- Good to know and FAQs -->
	<div class="two-col-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 footer-bullet-listing">
					<h2>Good to know...</h2>
					<ul class="listing-check">
						<li>Use your data whenever you want with no on/off peak restrictions</li>
						<li>24/7 support with our dedicated Tech Squad so you can get back to enjoying your favourite entertainment</li>
						<li><span class="bullet-tick-item">You will have access to <a href="" class="grey-dark with-underline">Foxtel Go</a> so you can watch Foxtel on your phone, tablet or computer.</span></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6">
					<h2>FAQs</h2>
					<div class="panel-group faq-collapse" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne">
					      <h4 class="panel-title">
					        <a role="button" class="btn_link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					        	<span class="icon-info"></span>
					          	<span>How do I know if I can get Foxtel broadband?</span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					      <div class="panel-body">
					        Simply give us a call on 131 999 or drop us your details and we'll call you.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingTwo">
					      <h4 class="panel-title">
					        <a class="collapsed btn_link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					        	<span class="icon-info"></span>
					          	<span>Which network does Foxtel use to provide broadband services?</span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					      <div class="panel-body">
					        Foxtel uses the Telstra's broadband network&nbsp;– one of the largest broadband networks in Australia.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingThree">
					      <h4 class="panel-title">
					        <a class="collapsed btn_link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					        	<span class="icon-info"></span>
					          	<span>Can I transfer my existing phone number to Foxtel?</span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					      <div class="panel-body">
					        If you're staying in the same area, in most cases you'll be able to keep your number. Just let us know and we’ll check for you.
					      </div>
					    </div>
					  </div>
					</div>
					<div class="mt-10 see-all-faqs-btn">
						<a href="" alt="See all FAQs" class="btn_link orange-link"><span>See all FAQs</span><span class="icon-arrow-right"></span></a>
					</div>
				</div>
			</div>
			<div class="row call-back-btn">
				<h3>Still have questions? call us on 1300 785 622 or <a href="" class="grey-dark with-underline">have us to call you back</a></h3>
			</div>
		</div> <!-- container end-->
	</div> <!-- two-col-footer end -->

	</div><!--bb-detail-container end-->
</main>

<script type="text/javascript" src="etc/designs/foxtel/scripts/broadband-bundles-details.js"></script>