---
title: Broadband bundles
---

<main class="main" id="" role="main" style="padding-left: 0; padding-right: 0;">
    
    {{>get-header}}

    <div class="container bb-detail-container">  
      <div class="row">
        <div class="col-xs-12 text-center mt-20">
          <h2>Introducing Foxtel bundles featuring:</h2>
        </div>  
      </div>  
    </div> <!--bb-detail-container end-->

    {{>generic-carousel-four-items}}

    
	<div class="container">
		{{>two-col-price-bundles}}
  </div>

  <div class="container mt-40">
    {{>gradient-box-yellow}}
  </div>

  <div class="container mt-20">
	    <hr class="gradient-divider">
	    {{>build-your-own}}
	</div> <!-- container -->

  <div class="two-col-footer">
    <div class="container">
      {{>faqs}}
    </div> 
  </div><!-- two-col-footer end -->

</main>

<script type="text/javascript" src="etc/designs/foxtel/scripts/foxtel-carousel.js"></script>
