---
title: Broadband bundles
---

<main class="main landing-mode" id="" role="main" style="padding-left: 0; padding-right: 0;">

	{{>got-header}}

	{{>got-mobile-top-subnav}}

	<div class="container title-with-btn">
		<h2>
	        <a href="" class="btn_link no-underline">
	        	<span class="icon-long-arrow-left icon--orange visible-xs"></span>
	            <p>Introducing Foxtel broadband + homephone</p>
	        </a>
		</h2>
		<p class="subtitle">Bundle with your existing TV package to unleash the best ever Foxtel experience</p>
	</div>

    <div class="container bb-detail-container">  
      <div class="row">
      	<figure class="text-center">
      		<img src="etc/designs/foxtel/clientlibs/img/bundles-hero-img.png">
      	</figure>
        <div class="col-xs-12 text-center mt-20">
          <h2>Introducing Foxtel bundles featuring:</h2>
        </div>  
      </div>  
    </div> <!--bb-detail-container end-->

    {{>generic-carousel}}

    <div class="container">
    	{{>four-col-price-bundles}}
    </div>

    <div class="container mt-40 mb-40">
      {{>gradient-box-yellow}}
    </div>

    {{>got-mobile-bottom-subnav}}

</main>

<script type="text/javascript" src="etc/designs/foxtel/scripts/foxtel-carousel.js"></script>