---
title: Broadband bundles
---

<main class="main landing-mode" id="" role="main" style="padding-left: 0; padding-right: 0;">
	{{>got-header}}

	<div class="container visible-xs">
		<ul class="nav-listing right-arrow">
			<li><a href="#" title=""><span>Bundles</span><span class="icon-arrow-bottom-chevron"></span></a></li>
		</ul>
	</div>

	<div class="menu-subnav-group">
		<div class="container bb-detail-tabs">
			<div class="row">
				<div class="col-sm-4">
					<div class="tab bb-tab-orange active">
						<a href="#" class="text one-line">
							100<span>GB</span>
						</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="tab bb-tab-pink">
						<a href="#" class="text two-lines">
							UNLIMITED<span>BROADBAND</span>
						</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="tab bb-tab-purple">
						<a href="#" class="text two-lines existing-customers-ribbon">
							UNLIMITED<span>PLATINUM HD OFFER</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container bb-detail-container bb-skin-orange">
		{{>bundle-plan}}
	</div><!--bb-detail-container end-->

	<hr class="gradient-divider" />

	<div class="container"> 
		{{>broadband-bundles-carousel}}
	</div>

	<div class="container mt-20"> 
		{{>plus-section}}
	</div>

	<hr class="gradient-divider" />

	<div class="container extras-section bb-skin-orange">
		{{>extras}}
	</div><!--extras-section end-->

	<div class="two-col-footer">
		<div class="container">
			{{>faqs}}
		</div> 
	</div><!-- two-col-footer end -->

</main>


<script type="text/javascript" src="etc/designs/foxtel/scripts/broadband-bundles-details.js"></script>