---
layout: empty.hbs
---
<div class="carousel-inner-top-border visible-sm*">
  <div class="carousel-gradient-border"></div>
</div>
<div class="container">
  <h3 class="text-center mb-40">We'll connect you to one of the largest broadband networks in Australia</h3>
  <div class="row">
      <div class="col-xs-12 col-sm-6 mb-20">
        <h3>This Broadband Bundle offers:</h3>
        <ul class="listing-square">
            <li>50GB of included monthly data, with no peak/off-peak limits, so you can use your data anytime.<sup>4</sup></li>
            <li>A WiFi modem that is designed to deliver fast WiFi speeds5, better coverage and easy streaming to multiple devices all within your home.<sup>5</sup></li>
            <li>No data download limits for Foxtel TV on Foxtel Go when connected to Foxtel Broadband.<sup>3</sup></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="https://www.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/got-upgrades-bundles-bubbles.png" width="100%">
      </div>
  </div>
</div>