---
title: Foxtel ID
---


<main class="main" id="" role="main" style="padding-left: 0; padding-right: 0;">
    <div class="container-fluid header-layer"> <!-- Start Header -->
        <div class="row">
            <div class="img-package-combos">
                <img alt="" src="./etc/designs/foxtel/clientlibs/img/seelct-and-customise-banner.jpg">
            </div>
        </div>
        <div class="compos-block">
            <div class="container">
                
            </div>
        </div>
    </div> <!-- End Header -->

<div class="container">
    <div class="row mt-50">
            <div class="col-xs-12">
                <h2 class="content-title">Hi Adam, it's time to <span class="text-orange">complete your ID</span>
                        <a href=""><span class="icon-info-bold heading heading-30 text-grey-light-b"></span></a>
                </h2>

                <p class="mb-50">Your username is: example@example.com.au</p>
                    <form id="test-entry-form" action="" method="post" enctype="multipart/form-data" class="form-horizontal foxtel-form" data-foxtel-validate="data-foxtel-validate" autocomplete="off" novalidate="">
                        <fieldset class="no-underline">
                            <h3 class="subheading mb-20">Choose a password and add a mobile number</h3>
                            <div class="form-group row">
                                <div class="col-sm-2 ctrl-label">
                                    <label for="first-name">Password</label>
                                </div>
                                <div class="col-sm-5 password-match is-invalid">                              
                                    <input type="password" class="form-ctrl" id="reg-password" autocomplete="off" name="password" placeholder="" data-foxtel-trigger="blur change focusout" maxlength="40" data-foxtel-required-message="Please enter a password." required />
                                    <ul class="parsley-errors-list" id=""></ul>
                                    <i class="state"></i>
                                </div>
                                <div class="col-sm-4 col-lg-3">
                                    <div id="pswd_info" style="">
                                        <h4>Password must meet the following requirements:</h4>
                                        <ul>
                                            <li id="length" class="invalid">At least <b>8 characters</b></li>
                                            <li id="capital" class="invalid">At least <b>1 upper case letter</b></li>
                                            <li id="number" class="invalid">At least <b>1 number</b></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 ctrl-label">
                                    <label for="first-name">Confirm Password</label>
                                </div>
                                <div class="col-sm-5 password-match is-valid" id="c-password-match">                             
                                    <input type="password" class="form-ctrl" id="reg-password" autocomplete="off" name="password" placeholder="" data-foxtel-trigger="blur change focusout" maxlength="40" data-foxtel-required-message="Please enter a password." required />
                                    <i class="state"></i>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 ctrl-label">
                                    <label for="first-name">Mobile</label>

                                </div>

                                <div class="col-sm-2">                              
                                    <input type="text" class="form-ctrl" id="first-name" autocomplete="off" name="mobile-number" placeholder="" data-foxtel-trigger="blur change focusout" maxlength="40" data-foxtel-required-message="Please confirm your mobile number" required />
                                    <ul class="parsley-errors-list" id=""></ul>
                                </div>
                                <div class="col-sm-1">
                                    <a href=""><span class="icon-info-bold heading heading-30 text-grey-light-b"></span></a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h3 class="subheading mb-20">In case you forget your username or password</h3>
                            <p>Choose a secret question to be asked if you ever forget your username or password.</p>
                            <div class="form-group row">
                                <div class="col-sm-2 ctrl-label">
                                    <label for="first-name">Password</label>
                                </div>
                                <div class="col-sm-5">                              
                                    <select id="" name="secret-question" data-foxtel-trigger="blue change focusout" data-foxtel-required-message="Please select a secret question">
                                        <option value="">Who was your first teacher?</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 ctrl-label">
                                    <label for="first-name">Security answer</label>
                                </div>
                                <div class="col-sm-5">                              
                                    <input type="text" class="form-ctrl" id="first-name" autocomplete="off" name="security-answer" placeholder="" data-foxtel-trigger="blur change focusout" maxlength="40" data-foxtel-required-message="Please enter the security answer"/>
                                    <ul class="parsley-errors-list" id=""></ul>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-7 text-left"> 
                                    <div class="checkbox-lg">
                                    <input id="contact-confirm" name="contact-confirm" type="checkbox">
                                    <label for="contact-confirm"><p>I confirm that I am the FOXTEL Account Subscriber or have been authorised by the Account Subscriber to avail FOXTEL Online services related to the Subscription Account detailed below.</p>
                                    </label>
                                    <span class="checkbox-lg-ie8"></span>  

                                    <button href="" class="btn_ btn_primary mt-30">CREATE</button>
                                    <a href="" class="btn_link btn_link_sm mt-20 with-underline">Cancel and return to login</a>                         
                                </div>
                            </div>
                        </fieldset>
                    </form>
            </div> <!-- col-md-8 --> 
    </div>
</div>
