---
title: Foxtel Play - Manage my package
---


<main class="main" id="" role="main" style="padding-left: 0; padding-right: 0;">
    <div class="container-fluid header-layer"> <!-- Start Header -->
        <div class="row">
            <div class="img-package-combos">
                <img alt="" src="./etc/designs/foxtel/clientlibs/img/seelct-and-customise-banner.jpg">
            </div>
        </div>
        <div class="compos-block main-feature-container">

        </div>
    </div> <!-- End Header -->

    <div class="container">
        <div class="row widget-background-e">
            <section class="col-xs-12 col-md-8">
            		<div class="row mb-30">
            			<div class="col-xs-12">
			                <h2>Manage my packge</h2>
			                <p class="mt-10">Select your new picks from the options below. You new monthly cos will be updated under 'My Selections' on the right. You can clear</p>
			                <p><strong>DEACTIVATION:</strong> Click <a href="" class="brand-primary">here</a> to deactivate your sibscription or remove all packages</p>
            			</div>
            		</div>
            		<div class="row">
            			<div class="col-xs-12">
			                <div class="item-left-right play-pack-steps">	                    
			                    <div class="item__left">
			                    	<a href="" class="circled-icon">1</a>
			                    </div>
			                    <span class="item__right">
			                    	First, choose any of these <strong>Genre</strong> packs and then, next<br>select your <strong>Premium</strong> packs below.
			                    </span>
			                </div>
            			</div>
            		</div>
            		<div class="row">
            			<div class="col-sm-6">
					<div class="play-pack theme-red">
						<div class="play-pack__header">
			                <div class="item-left-right">	                    
			                    <div class="item__left text-left">Pack name</div>
			                    <span class="item__right text-right">
			                    	<a href="" class="play-pack__header-icon play-pack-add">
			                    		<i class="icon-plus circled-icon"></i>
			                    	</a>
			                    </span>
			                </div>
						</div>

						<a href="" class="play-pack__img">
							<div class="play-pack__primary-img" style="background-image: url(http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg);">
							</div>
							<div class="play-pack__hover-img" style="background-image: url(http://nikonrumors.com/wp-content/uploads/2014/03/Nikon-1-V3-sample-photo.jpg);">								
							</div>
						</a>

						<div class="play-pack__price">
							<div class="plan-price"> 
							  <sup>$</sup> 
							  <span>26</span> 
							  <sup class="star">*</sup> 
							</div>

							<div class="row mt-neg-20">
								<div class="col-xs-6 col-xs-offset-3">
									<hr class="play-pack__hr">
								</div>
							</div>
						</div>
						<div class="play-pack__cta">
							<a href="" class="btn_ btn_orange btn_full_width"> 
							  <span>FIND OUT MORE</span> 
							  <span class="icon-arrow-right"></span> 
							</a>
						</div>
					</div>
            			</div>
            			<div class="col-sm-6">
            				<div class="play-pack theme-orange">
            					play-content
            				</div>
            			</div> 
            		</div>
            		<div class="row mt-10">
            			<div class="col-sm-12 heading heading-24">
            				$15 for sophisticated pack, $15 for entertainment pack OR <strong>$25 for both.</strong>
            			</div> 
            		</div>
            		<div class="row mt-30">
            			<div class="col-sm-4">
            				<div class="play-pack theme-green-lt">
            					play-content
            				</div>
            			</div>
            			<div class="col-sm-4">
            				<div class="play-pack theme-yellow">
            					play-content
            				</div>
            			</div> 
            			<div class="col-sm-4">
            				<div class="play-pack theme-pink">
            					play-content
            				</div>
            			</div> 
            		</div>
            		<hr class="hr-divider">	
            		<div class="row">
            			<div class="col-xs-12">
			                <div class="item-left-right play-pack-steps">	                    
			                    <div class="item__left">
			                    	<a href="" class="circled-icon">2</a>
			                    </div>
			                    <span class="item__right">
			                    	Next, select your <strong>Premium</strong> packs
			                    </span>
			                </div>
            			</div>
            		</div>
            		<hr class="hr-divider">	
            		<div class="row">
            			<div class="col-sm-6">
            				<div class="play-pack theme-green-dark">
            					play-content
            				</div>
            			</div>
            			<div class="col-sm-6">
            				<div class="play-pack theme-blue">
            					play-content
            				</div>
            			</div> 
            		</div>
            		<hr class="hr-divider">	
            		<div class="row">
            			<div class="col-xs-12">
			                <div class="item-left-right play-pack-steps">	                    
			                    <div class="item__left">
			                    	<a href="" class="circled-icon">3</a>
			                    </div>
			                    <span class="item__right">
			                    	Lastly, add any of our extras<br><strong>$5^^</strong> for our english football channels
			                    </span>
			                </div>
            			</div>
            		</div>
            		<div class="row">
            			<div class="col-xs-12">
							<ul class="list-inline mt-20">
								<li>
									<span class="play-pack-btn-overlap">
				                    	<a href="" class="play-pack__header-icon play-pack-add">
				                    		<i class="icon-plus circled-icon"></i>
				                    	</a>
										<img src="http://lorempixel.com/125/60/nature/">
									</span>
								</li>
								<li>
									<span class="play-pack-btn-overlap">
				                    	<a href="" class="play-pack__header-icon play-pack-add">
				                    		<i class="icon-plus circled-icon"></i>
				                    	</a>
										<img src="http://lorempixel.com/125/60/nature/">
									</span>
								</li>
								<li>
									<span class="play-pack-btn-overlap">
				                    	<a href="" class="play-pack__header-icon play-pack-add">
				                    		<i class="icon-plus circled-icon"></i>
				                    	</a>
										<img src="http://lorempixel.com/125/60/nature/">
									</span>
								</li>
							</ul>
            			</div>
            		</div>
            		<div class="row mt-30">
            			<div class="col-xs-12">
            				<small>^^Each channel automatically included for customers with the Sports pack for an extra 1c per channel per year.</small>
            			</div>
            		</div>
            		<hr class="hr-divider">	
            		<div class="row mt-25">
            			<div class="col-xs-12">
            				<p class="heading heading-30">All these <span class="text-orange">extra</span> channels are included with <span class="text-orange">ANY</span> selection</p>
            				<img src="https://www.foxtel.com.au/content/dam/foxtel/foxtelplay/legacy/PLAY_PAGE_web_rendition.png">
            			</div>
            		</div>            		
            </section>
        	<aside class="col-xs-12 col-md-4 wrapper-sidebar">
        		<section>
	        		<h3 class="sidebar-title-lg">
	        			Total cost per month
	        		</h3>
	        		<div class="row">
	        			<div class="col-xs-8 sidebar-title-md text-upp text-left text-grey">Genre packs</div>
	        			<div class="col-xs-4 sidebar-title-md text-right text-grey">$25.00</div>
	        		</div>
	        		<div class="row">
	        			<div class="col-xs-12">Sophisticated</div>
	        			<div class="col-xs-12">Docos</div>
	        		</div>
	        		<div class="row mt-20">
	        			<div class="col-xs-8 sidebar-title-md text-upp text-left text-grey">Premium Packs</div>
	        			<div class="col-xs-4 sidebar-title-md text-right text-grey">$25.00</div>
	        		</div>
	        		<div class="row">
	        			<div class="col-xs-12">Sports</div>
	        		</div>
	        		<div class="row mt-20">
	        			<div class="col-xs-8 sidebar-title-md text-upp text-left text-grey">Extras</div>
	        			<div class="col-xs-4 sidebar-title-md text-right text-grey">$0.00</div>
	        		</div>
	        		<div class="row">
	        			<div class="col-xs-12">MUTV</div>
	        			<div class="col-xs-12">LFCTV</div>
	        			<div class="col-xs-12">Chelsea</div>
	        		</div>
				</section>
				<hr class="hr-divider hr-30">
				<section class="text-center">
					<div class="plan-price text-orange"> 
					  <sup>$</sup> 
					  <span>50</span> 
					  <sup class="star">.00*</sup> 
					</div>
				</section>
				<section class="text-center text-grey mt-30">
					for all included Foxtel services, not including additional purchases such as movie rentals or call costs
				</section>
				<hr class="hr-divider hr-thick-black 
				">	
				<div class="checkbox-lg">
						<input id="tnc-confirm" name="tnc-confirm" data-foxtel-required-message="" required="" type="checkbox">
						<label for="tnc-confirm" class="marginless pb-20">
							<small>By clicking "Submit Changes" I agree that my credit card will be debited every month with the new amount as selected above. This change will take place immediately.</small>
						</label>
						<span class="checkbox-lg-ie8"></span>
						<ul class="parsley-errors-list" id=""></ul>
				</div>
				
				<a href="" class="btn_ btn_primary btn_full_width"> 
				  <span>Next Step</span> 
				  <span class="icon-arrow-right"></span> 
				</a>		
				<div class="text-center mt-20">
					<a href="" class="with-underline">Cancel and return to my account</a>
				</div>
        	</aside>
        </div> <!-- row --> 
    </div> <!-- container --> 