---
title: NBN Header
---


<main class="main" id="" role="main" style="padding-left: 0; padding-right: 0;">
    <div class="container-fluid header-layer"> <!-- Start Header -->
        <div class="row">
            <div class="img-package-combos">
                <img alt="" src="./etc/designs/foxtel/clientlibs/img/seelct-and-customise-banner.jpg">
            </div>
        </div>
        <div class="compos-block main-feature-container">
            <div class="container">
                <div class="nbn-address-check-header">
                    <h1 class="nbn-address-check-header__title">Add Broadband bundles<br>for Foxtel TV customers</h1>
                    <a href="" class="nbn-address-check-header__link mt-10">New Foxtel Customer?</a>
                    <span class="text-white">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a href="">
                        <span class="nbn-address-check-header__link">Already a Foxtel customer? Login now</span>
                        <span class="icon-arrow-right text-white"></span> 
                    </a>
                    <div class="nbn-address-check-header__search">
                        <h2 class="heading heading-24 text-white text-center">Check availability in your area:</h2>
                        <form class="foxtel-form mt-20">
                            <div class="form-group row">
                                <div class="col-sm-8 col-sm-offset-2 nbn-address-input-container">
                                    <input class="form-ctrl nbn-address-check-input" type="text" placeholder="YOUR ADDRESS"><button type="submit" class="nbn-btn-address-check-search">
                                        <span class="icon-magnifying-glass"></span>
                                    </button>    

                                </div>                                
                            </div>
                            <div class="mt-20 pb-50">
                                    <a href="#" onclick="" class="nbn-address-check-header__link">Click here to enter your address manually</a>
                            </div>
                        </form>                        
                    </div>
                    <div class="widget-nav-large-tabs">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="" class="heading heading-regular heading-16">ADSL bundles</a></li>
                                        <li class="active"><a href="/got/my-account/profile-settings.html" class="heading heading-regular heading-16">nbn bundles</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Header -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">


<div class="orange-gradient-header orange-gradient-header--md">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 code-generation-header">
                <p>ADMINISTRATOR'S ACCOUNT</p>
                <p >Acct. no. XXXXXX</p>
            </div>
        </div>
    </div>
</div>
<div class="widget-nav-large-tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href="/got/my-account/profile-settings.html" class="heading heading-regular heading-16">Code Generator</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
      <!--html for webchat start-->

        <div class="container">
            <div class="row mt-40 mb-40">
                <div class="col-sm-6 numeric-step">
                    <span class="numeric-step-num">1</span>
                    <div class="numeric-step-text">Pick 1 contract and/or choose 1 other offer.</div>
                </div>

                <div class="col-sm-6 numeric-step active">
                    <span class="numeric-step-num">2</span>
                    <div class="numeric-step-text">Generate offer code and send</div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="code-generator-selection-list">
                        <div class="item-group-heading">
                            <h4 class="title">Contract</h4>
                            <span class="icon-arrow-top"></span>
                        </div>
                        <div class="item add">
                            <div class="sign-radio-wrapper"><span class="sign"></span></div>
                            <div class="label">0 Month Contract</div>
                        </div>
                        <div class="item remove">
                            <div class="sign-radio-wrapper"><span class="sign"></span></div>
                            <div class="label">0 Month Contract</div>
                        </div>
                        <div class="item disabled">
                            <div class="sign-radio-wrapper"><span class="sign"></span></div>
                            <div class="label">6 Month Contract</div>
                        </div>
                    </div>

                    <h3 class="heading heading-30">Other offers</h3>

                    <div class="code-generator-selection-list">
                        <div class="item-group-heading">
                            <h4 class="title">Installation Offers</h4>
                            <span class="icon-arrow-top"></span>
                        </div>
                        <div class="item">
                            <div class="sign-radio-wrapper"><input class="radio-custom" type="radio" name="other-offer" value="" /></div>
                            <div class="label">Free Install</div>
                        </div>
                        <div class="item">
                            <div class="sign-radio-wrapper"><input class="radio-custom" type="radio" name="other-offer" value="" /></div>
                            <div class="label">Free Install</div>
                        </div>
                        <div class="item">
                            <div class="sign-radio-wrapper"><input class="radio-custom" type="radio" name="other-offer" value="" /></div>
                            <div class="label">Free Install</div>
                        </div>
                        <div class="item-group-heading">
                            <h4 class="title">Equipment</h4>
                            <span class="icon-arrow-top"></span>
                        </div>
                        <div class="item">
                            <div class="sign-radio-wrapper"><input class="radio-custom" type="radio" name="other-offer" value="" /></div>
                            <div class="label">Free Install</div>
                        </div>
                        <div class="item">
                            <div class="sign-radio-wrapper"><input class="radio-custom" type="radio" name="other-offer" value="" /></div>
                            <div class="label">Free Install</div>
                        </div>
                        <div class="item">
                            <div class="sign-radio-wrapper"><input class="radio-custom" type="radio" name="other-offer" value="" /></div>
                            <div class="label">Free Install</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="code-generation-wrapper">
                        <div class="selected-list">
                        </div>

                        <div class="widget-price-action-item active type-remove" data-remove-index="3" data-is-platinum="" data-tierid="105">
                            <span class="icon-tick"><span class="sr-only" aria-hidden="true">Check</span></span>
                            <div class="item-text">First month free any packages</div>
                            <a href="" class="btn-close-circle"><span class="icon-close-circle"><span class="sr-only" aria-hidden="true">Remove</span></span></a>
                        </div>

                        <div class="widget-price-action-item active type-remove" data-remove-index="3" data-is-platinum="" data-tierid="105">
                            <span class="icon-minus"><span class="sr-only" aria-hidden="true">Remove</span></span>
                            <div class="item-text">First month free any packages</div>
                            <a href="" class="btn-close-circle"><span class="icon-close-circle"><span class="sr-only" aria-hidden="true">Remove</span></span></a>
                        </div>

                        <a href="" class="btn_ btn_full_width mt-30">
                          <span class="icon-plus"></span>
                          <span>Generate new code</span>
                        </a>

                        <p class="mb-30">Unique offer code generated is:</p>
                        <div class="generated-code-section">
                            <div class="code-wrapper">
                                <div class="code">https://www.foxtel.com.au/code-offer/We45Tof5</div>
                                <p>Valid Until: 18/09/2016, 12.00 pm AEST</p>
                            </div>
                            <div class="copy-wrapper">
                                <a href="" class="">
                                    <span class="icon-clip"></span>
                                    <p>Copy</p>
                                </a>
                            </div>
                        </div>
                        <p>This offer code is unique and will apply the following offers within the cart:</p>
                        <p>- 0 Month Contract</p>
                        <p>- First Month Free Any Packages</p>
                        <p class="mt-30 mb-40">Extra copy here for legal Stuff if we need to...</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="" class="btn_ btn_full_width">
                                  <span class="icon-print"></span>
                                  <span>Print</span>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="" class="btn_ btn_full_width">
                                  <span class="icon-email"></span>
                                  <span>Email</span>
                                </a>
                            </div>
                        </div>
                        <p class="mt-20"><a href="">Start over</a></p>
                    </div>
                </div>
            </div>
        </div>
      <!--html for webchat end-->
            </div> <!-- col-md-12 --> 
        </div> <!-- row --> 
    </div> <!-- container --> 