---
layout: empty.hbs
---
<h3>Foxtel iQ2 gives you the power to 
decide what's on TV tonight.</h3>
<div class="text-center">
	<img src="https://www.foxtel.com.au/content/dam/foxtel/get/how-it-works/set-top-boxes/iq2-product-shot-front-on.png" alt="" width="100%">
</div>
<p>Watch your favourite shows from some of our most popular channels, live or on demand on your iPhone, iPad, Mac, PC or compatible Android device. Best of all, it's included as part of your subscription3.
</p>
<ul class="listing-square">
	<li>Pause, rewind & replay live TV</li>
	<li>Set your box to record an entire season at the touch of a button</li>
	<li>Record a show on your box even when you're not at home, using your PC, tablet or mobile</li>
</ul>

