---
layout: empty.hbs
---

<h3>
Take your TV with you on your phone, tablet or PC.
</h3>
<div class="text-center">
	<img src="https://www.foxtel.com.au/content/dam/foxtel/get-temp/broadband/foxtel-go-samsung-devices.png" alt="" width="100%">
</div>
<p>Watch your favourite shows from some of our most popular channels, live or on demand on your iPhone, iPad, Mac, PC or compatible Android device. 
Best of all, it's included as part of your subscription3. </p>
