---
layout: empty.hbs
---
<h3>
Get started with the Entertainment pack... <br>
45 channels with something for everyone
</h3>

<div class="pack-content-listing">
	<a class="btn_link pack-collapse-title" role="button" data-toggle="collapse" href="#pack-entertainment-content" aria-expanded="true" aria-controls="pack-entertainment-content">
	    <span class="icon-arrow-top"></span>
	    <span>Entertainment</span>     
	</a>
	<div class="collapse in" id="pack-entertainment-content">
		<div class="title-logos">
			<div class="row">
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
			</div>
		</div>
	</div>
</div> <!-- pack-content-listing -->

<div class="pack-content-listing">
	<a class="btn_link pack-collapse-title" role="button" data-toggle="collapse" href="#pack-drama-content" aria-expanded="true" aria-controls="pack-drama-content">
	    <span class="icon-arrow-top"></span>
	    <span>Drama & Classic movies</span>     
	</a>
	<div class="collapse in" id="pack-drama-content">
		<div class="title-logos">
			<div class="row">
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
			</div>
		</div>
	</div>
</div> <!-- pack-content-listing -->


<div class="pack-content-listing">
	<a class="btn_link pack-collapse-title" role="button" data-toggle="collapse" href="#pack-documentaries-content" aria-expanded="true" aria-controls="pack-documentaries-content">
	    <span class="icon-arrow-top"></span>
	    <span>Documentaries</span>     
	</a>
	<div class="collapse in" id="pack-documentaries-content">
		<div class="title-logos">
			<div class="row">
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
			</div>
		</div>
	</div>
</div> <!-- pack-content-listing -->

<div class="pack-content-listing">
	<a class="btn_link pack-collapse-title" role="button" data-toggle="collapse" href="#pack-music-content" aria-expanded="true" aria-controls="pack-music-content">
	    <span class="icon-arrow-top"></span>
	    <span>Music</span>     
	</a>
	<div class="collapse in" id="pack-music-content">
		<div class="title-logos">
			<div class="row">
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
				<div class="col-xs-6 col-sm-3"><img src="http://placehold.it/100x70" alt=""></div>
			</div>
		</div>
	</div>
</div> <!-- pack-content-listing -->
