---
title: Pay my bill
---


<main class="main" id="" role="main" style="padding-left: 0; padding-right: 0;">
    <div class="container-fluid header-layer"> <!-- Start Header -->
        <div class="row">
            <div class="img-package-combos">
                <img alt="" src="./etc/designs/foxtel/clientlibs/img/seelct-and-customise-banner.jpg">
            </div>
        </div>
        <div class="compos-block main-feature-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 mt-40 pb-40">
                        <p class="main-feature font--thin font--lg">Pay my bill</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Header -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h2 class="heading heading-40 text-grey-dark text-center-xs">My billing preferences</h2>
                <p>Keep on top of your bill payments</p>
                <hr class="hr-divider hr-30">

                <p class="heading heading-30">Email my bill</p>


                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <p class="pb-10">Go paperless and get your next bill emailed to you! You will automatically be opted out of receiving your bill through the post.</p>
                        <p>If your email or mobile number is not correct, you can update your details by clicking on the <span class="profile-edit-icon notification-icons"></span> pencil icon below.</p>
                    </div>
                    <div class="form-group col-sm-4 col-xs-12">
                      <p class="pro-sub-switch" data-button-toggle="">
                        
                        <label class="pro-cb-enable selected" data-button-on=""><span>ON</span></label>
                        <label class="pro-cb-disable" data-button-off=""><span>OFF</span></label>
                        <input class="is-hidden" type="checkbox" name="my-notifi-checkbox-1" value="" checked="checked" data-checkbox-id="3" data-checkbox-code="MKT:TIPS" data-checkbox-title="Tips, Tricks and Community updates" data-input-toggle="">
                        
                      </p>
                    </div>
                </div> <!-- row --> 


                <div class="row pt-20">
                    <div class="col-xs-12 col-md-6">
                        <p class="heading heading-24 marginless">Email</p>
                        <p>phill@gmail.com <span class="profile-edit-icon notification-icons"></span></p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <p class="heading heading-24 marginless">SMS/MMS</p>
                        <p>0411 123 456 <span class="profile-edit-icon notification-icons"></span></p>
                        <small>An SMS/MMS noification will be sent in the event that our email notification fails.</small>
                    </div>
                </div> <!-- row --> 
            </div> <!-- col-md-8 --> 
        </div> <!-- row --> 
    </div> <!-- container --> 