---
title: Skip links
---


<main class="main" id="" role="main" style="padding-left: 0; padding-right: 0;">
    <div class="container-fluid header-layer"> <!-- Start Header -->
        <div class="row">
            <div class="img-package-combos">
                <img alt="" src="./etc/designs/foxtel/clientlibs/img/seelct-and-customise-banner.jpg">
            </div>
        </div>
        <div class="compos-block main-feature-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 mt-40 pb-40">
                        <p class="main-feature font--thin font--lg">Skip links</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Header -->

    <div class="container mt-40">  
      	<div class="row">        
        	<div class="col-xs-12">
                <h1>heading 1</h1>

	            <h3 class="heading heading-48 text-center heading-capitalise">Hi there!</h3>
	            <h3 class="mt-20">Great choice! The upcoming sports season is going to be epic!</h3>
	            <p class="mt-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>

            </div>
        </div> <!-- row --> 



    </div> <!-- container -->

<div class="container">
        <div class="package-menu-list hidden-xs">
            <div class="package-item gray package-KG">
                            <h2><a href="/get/tv-combos/platinum-hd.html" title="Platinum HD Online Special" data-package="gray" class="">
                                <span>Platinum HD Online Special</span>
                            </a></h2>
                        </div>
                    <div class="package-item orange package-46">
                            <h2><a href="/get/tv-combos/entertainment.html" title="Entertainment Pack" data-package="orange" class="">
                                <span>Entertainment Pack</span>
                            </a></h2>
                        </div>
                    <div class="package-item purple package-46">
                            <h2><a href="/get/tv-combos/drama.html" title="Drama combo" data-package="purple" class="">
                                <span>Drama combo</span>
                            </a></h2>
                        </div>
                    <div class="package-item blue package-1G">
                            <h2><a href="/get/tv-combos/sports.html" title="Sports Combo" data-package="blue" class="">
                                <span>Sports Combo</span>
                            </a></h2>
                        </div>
                    <div class="package-item green package-X9">
                            <h2><a href="/get/tv-combos/sports-drama.html" title="Sports &amp; Drama Combo" data-package="green" class="">
                                <span>Sports &amp; Drama Combo</span>
                            </a></h2>
                        </div>
                    </div>
    </div>
</main>

