---
title: Two click upgrade Error page

<main class="main" id="" role="main" style="padding-left: 0; padding-right: 0;">
    <div class="container-fluid header-layer"> <!-- Start Header -->
        <div class="row">
            <div class="img-package-combos">
                <img alt="" src="./etc/designs/foxtel/clientlibs/img/seelct-and-customise-banner.jpg">
            </div>
        </div>
        <div class="compos-block main-feature-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 mt-40 pb-40">
                        <p class="main-feature font--thin font--lg">Two click upgrade error page</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Header -->

    <div class="container mt-50">  
      	<div class="row ">        
        	<div class="col-xs-12">
	            <h2 class="heading heading-48 heading-semibold brand-primary">Sorry, something went wrong</h2>
           		<p class="heading heading-30 mt-20">Please try again later</p>
            </div>
        </div> <!-- row --> 

        <hr class="gradient-divider">

      	<div class="row">        
        	<div class="col-xs-12 text-center">
	           <a href="" class="btn_">My account</a> <a href="" class="btn_">What's on</a>
        	</div>
        </div> <!-- row -->

    </div> <!-- container -->

</main>

