---
title: Two click upgrade confirmation
---

<main class="main" id="" role="main" style="padding-left: 0; padding-right: 0;">
    <div class="container-fluid header-layer"> <!-- Start Header -->
        <div class="row">
            <div class="img-package-combos">
                <img alt="" src="./etc/designs/foxtel/clientlibs/img/seelct-and-customise-banner.jpg">
            </div>
        </div>
        <div class="compos-block main-feature-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 mt-40 pb-40">
                        <p class="main-feature font--thin font--lg">Two click upgrade confirmation</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Header -->

    <div class="container mt-50">  
      	<div class="row row-eq-height">        
        	<div class="col-xs-4 right-divider">
	            <p class="heading heading-18 heading-regular">We've sent a confirmation to:</p>
	            <p class="heading heading-24 heading-regular mt-10">james.smith@gmail.com</p>
	            <p class="heading heading-16 heading-regular grey-text mt-10">Check to make sure you receive this in the next 4 hours.</p>	            
            </div>
        	<div class="col-xs-4 right-divider pl-30">
	            <p class="heading heading-18 heading-regular">Your confirmation number is:</p>
	            <p class="heading heading-24 heading-regular mt-10">1073 5300 7645</p>
	            <p class="heading heading-16 heading-regular grey-text mt-10">Quote this number anytime you get in touch with us.</p>	  	            
            </div>
        	<div class="col-xs-4 pl-30">
	            <p class="heading heading-18 heading-regular">Changes will take effect on:</p>
	            <p class="heading heading-24 heading-regular mt-10">2nd February 2016</p>
	            <p class="heading heading-16 heading-regular grey-text mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>	            
            </div>
        </div> <!-- row --> 

        <hr class="hr-divider hr-40">

      	<div class="row">        
        	<div class="col-xs-12">
	            <h3 class="heading heading-30 heading-regular"><strong>Your order</strong></h3>
	            <h4 class="heading heading-24 mt-20">The <span class="heading heading-regular"><strong>Sports pack</strong></span> has now been added to your TV package.</h4>
	            
	            <div class="row clearfix mt-20">
	              <div class="col-md-6">
	                <div class="row">
	                    <div class="col-xs-5">
	                        <p class="heading heading-18 heading-regular"><strong>New monthly costs</strong></p>
	                    </div>
	                    <div class="col-xs-7">
	                        <p class="text-right two-click-upgrades-price">
	                            <sup class="heading heading-48 heading-thin">$</sup>
	                            <span class="heading heading-100 heading-marginless marginless paddingless">70</span>
	                            <sup class="heading heading-48 heading-thin">.00*</sup>
	                        </p>
	                    </div>
	                </div>
	                <p class="heading heading-18 heading-regular grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	              </div>
	              <div class="col-md-6">
	                <img src="etc/designs/foxtel/clientlibs/img/img-sports-bundle.png" alt="">
	              </div>
	            </div>
            </div>
        </div> <!-- row -->

        <hr class="gradient-divider">

      	<div class="row">        
        	<div class="col-xs-12 text-center">
	           <a href="" class="btn_">My account</a> <a href="" class="btn_">What's on</a>
        	</div>
        </div> <!-- row -->

    </div> <!-- container -->

</main>

