		<div class="row">
		  <div class="col-xs-12 bb-detail-build-your-own">
		  	<h3>Want to build your own?</h3>
		  	<p class="subtitle">Get Foxtel just the way you want <br class="hidden-xs">with our flexible packages.</p>
			<div class="text-center mt-20"> 
			    <a href="" class="btn_ btn_orange"> 
			      <span>BUILD YOUR OWN PACKAGE</span> 
			    </a> 
			  </p> 
			</div>
		  </div>
		</div>