<div class="row bb-plan">
			<div class="col-md-6">
				<div class="image">
				<img src="https://www-sit3.aws.foxtel.com.au/content/dam/foxtel/get/broadband/bb_flash.jpg" alt="bundle plan">
				</div>
				<div class="generic-gradient-box skin-navy with-shadow">
					<a href="">
						<div class="floating-add-circle-btn"><span class="icon-plus skin-orange"></span></div>
						<h3>GET PLATINUM HD FREE FOR <BR>THE FIRST MONTH AND SAVE $134<sup>*</sup></h3>
						<p>ON A 12 OR 24 MONTH PLAN WHEN YOU SIGN UP ONLINE! Usually $134<sup>*</sup>per/mh</p>
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="bb-plan-detail">
					<div class="plan-heading">
						<div class="title">100<span>GB</span></div>
						<div class="sub-title">Entertainment Home Bundle</div>
						<p>Ideal for surfing the web, email and a little video or gaming</p>
					</div>
						

					<div class="plan-compare">						
						<div class="detail plan-12 active">
							<div class="option-wrapper">
								<div class="radio-option is-checked">
									<input type="radio" checked="checked" />
								</div>
								<div class="title">12 month plan</div>
								<div class="price-compare-terms">$95* for the first month on a 12 month plan. From month 2 onwards:</div>
								<div class="plan-price"><sup>$</sup>105<sup class="star">*</sup><sub>/mth</sub></div>
								<div class="note">Save $20 per month</div>
							</div>
							<div class="cost-item-row">
								<div class="cost-item-wrapper">
									<div class="cost-item">										
										<span class="label">Equipment fees</span>
										<a href="#" class="help-tooltip">
											<span class="icon-question-tooltip"></span>
											<span class="tooltip-content">										
			            						<p class="title">Equipment fees</p>
			            						<div class="cost-item-breakdown">
			            							<div class="breakdown-row">
														<span class="breakdown-label">iQ2 set top box & remote</span>
														<span class="breakdown-price">$125</span>
													</div>
													<div class="breakdown-row">
														<span class="breakdown-label">Foxtel Hub modem</span>
														<span class="breakdown-price">$0</span>
													</div>
													<div class="breakdown-row total">
														<span class="breakdown-price">$125</span>
													</div>					
												</div>
			            						<p>Equipment fees are one off costs.</p>
												<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
			            						<b class="tooltip-arrow"></b>
		            						</span>
		        						</a>
	        						</div>
	        						<span class="item-price">$235</span>										
								</div>
							</div>
							<div class="cost-item-row">
								<div class="cost-item-wrapper">
									<div class="cost-item">
										<span class="label">Standard installation</span>
										<a href="#" class="help-tooltip">
											<span class="icon-question-tooltip"></span>
											<span class="tooltip-content">										
			            						<p class="title">Installation fees</p>
			            						<div class="cost-item-breakdown">
			            							<div class="breakdown-row">
														<span class="breakdown-label">iQ2 set top box & remote</span>
														<span class="breakdown-price">$125</span>
													</div>
													<div class="breakdown-row">
														<span class="breakdown-label">Foxtel Hub modem</span>
														<span class="breakdown-price">$0</span>
													</div>
													<div class="breakdown-row total">
														<span class="breakdown-price">$125</span>
													</div>					
												</div>
			            						<p>Equipment fees are one off costs.</p>
												<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
			            						<b class="tooltip-arrow"></b>
		            						</span>
		        						</a>
									</div>
									<span class="item-price">$193</span>
								</div>
								<div class="note">Save $75 when you sign up online</div>
							</div>
							<div class="cost-item-row">
								<div class="cost-item-wrapper">
									<div class="cost-item">										
										<span class="label">First month discount</span>
										<a href="#" class="help-tooltip">
											<span class="icon-question-tooltip"></span>
											<span class="tooltip-content">										
			            						<p class="title">First month discount</p>
			            						<div class="cost-item-breakdown">
			            							<div class="breakdown-row">
														<span class="breakdown-label">iQ2 set top box & remote</span>
														<span class="breakdown-price">-$134</span>
													</div>
													<div class="breakdown-row">
														<span class="breakdown-label">Foxtel Hub modem</span>
														<span class="breakdown-price">$0</span>
													</div>
													<div class="breakdown-row total">
														<span class="breakdown-price"$125</span>
													</div>					
												</div>
			            						<p>Equipment fees are one off costs.</p>
												<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
			            						<b class="tooltip-arrow"></b>
		            						</span>
		        						</a>
	        						</div>
	        						<span class="item-price brand-primary">-$125</span>										
								</div>
							</div>
							<div class="min-cost-content">
								<b>*Min cost $X,XXX on a 12 month plan</b> inc. one off costs, on a direct debit plan if you sign up online. <a href="https://www.foxtel.com.au/content/dam/foxtel/about/PDF/entertainment-50gb-home-bundle.pdf" target="_blank">Critical Information Summary</a>.
							</div>						
						</div>							
						<div class="detail plan-24">
							<div class="option-wrapper">
								<div class="radio-option">
									<input type="radio" />
								</div>
								<div class="title">24 month plan</div>
								<div class="price-compare-terms">$95* for the first month on a 12 month plan. From month 2 onwards:</div>
								<div class="plan-price"><sup>$</sup>105<sup class="star">*</sup><sub>/mth</sub></div>
								<div class="note">Save $20 per month</div>
							</div>
							<div class="cost-item-row">
								<div class="cost-item-wrapper">
									<div class="cost-item">										
										<span class="label">Equipment fees</span>
										<a href="#" class="help-tooltip">
											<span class="icon-question-tooltip"></span>
											<span class="tooltip-content">										
			            						<p class="title">Equipment fees</p>
			            						<div class="cost-item-breakdown">
			            							<div class="breakdown-row">
														<span class="breakdown-label">iQ2 set top box & remote</span>
														<span class="breakdown-price">$125</span>
													</div>
													<div class="breakdown-row">
														<span class="breakdown-label">Foxtel Hub modem</span>
														<span class="breakdown-price">$0</span>
													</div>
													<div class="breakdown-row total">
														<span class="breakdown-price">$125</span>
													</div>					
												</div>
			            						<p>Equipment fees are one off costs.</p>
												<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
			            						<b class="tooltip-arrow"></b>
		            						</span>
		        						</a>
	        						</div>
	        						<span class="item-price">$125</span>										
								</div>
							</div>
							<div class="cost-item-row">
								<div class="cost-item-wrapper">
									<div class="cost-item">
										<span class="label">Standard installation</span>
										<a href="#" class="help-tooltip">
											<span class="icon-question-tooltip"></span>
											<span class="tooltip-content">										
			            						<p class="title">Installation fees</p>
			            						<div class="cost-item-breakdown">
			            							<div class="breakdown-row">
														<span class="breakdown-label">iQ2 set top box & remote</span>
														<span class="breakdown-price">$125</span>
													</div>
													<div class="breakdown-row">
														<span class="breakdown-label">Foxtel Hub modem</span>
														<span class="breakdown-price">$0</span>
													</div>
													<div class="breakdown-row total">
														<span class="breakdown-price">$125</span>
													</div>					
												</div>
			            						<p>Equipment fees are one off costs.</p>
												<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
			            						<b class="tooltip-arrow"></b>
		            						</span>
		        						</a>
									</div>
									<span class="item-price">$134</span>
								</div>
								<div class="note">Save $75 when you sign up online</div>
							</div>
							<div class="cost-item-row">
								<div class="cost-item-wrapper">
									<div class="cost-item">										
										<span class="label">First month discount</span>
										<a href="#" class="help-tooltip">
											<span class="icon-question-tooltip"></span>
											<span class="tooltip-content">										
			            						<p class="title">First month discount</p>
			            						<div class="cost-item-breakdown">
			            							<div class="breakdown-row">
														<span class="breakdown-label">iQ2 set top box & remote</span>
														<span class="breakdown-price">-$134</span>
													</div>
													<div class="breakdown-row">
														<span class="breakdown-label">Foxtel Hub modem</span>
														<span class="breakdown-price">$0</span>
													</div>
													<div class="breakdown-row total">
														<span class="breakdown-price"$125</span>
													</div>					
												</div>
			            						<p>Equipment fees are one off costs.</p>
												<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
			            						<b class="tooltip-arrow"></b>
		            						</span>
		        						</a>
	        						</div>
	        						<span class="item-price brand-primary">-$125</span>										
								</div>
							</div>
							<div class="min-cost-content">
								<b>*Min cost $X,XXX on a 24 month plan</b> inc. one off costs, on a direct debit plan if you sign up online. <a href="https://www.foxtel.com.au/content/dam/foxtel/about/PDF/entertainment-50gb-home-bundle.pdf" target="_blank">Critical Information Summary</a>.
							</div>						
						</div>							
					</div><!--plan-compare end-->
					<div class="plan-compare-address-check">
						<p>Awesome! This is available at your address:</p>
						<p>34 Denison Street, Camperdown NSW 2050 <a href="">(change)</a></p>
					</div>
					<div class="sign-up-section">
						<div class="sign-up-box">
							<div class="sign-up-text"><b>Sign up online</b> and we'll waive the $75 standard TV install fee!</div>
							<div class="button"><a href="" class="btn_">Check Availability</a></div>
						</div>
						<div class="call-us-text">Or call us on 1300 785 622</div>
					</div>
				</div><!--bb-plan-detail end-->
			</div>
		</div><!--bb-plan end-->