<div class="row bb-plan">
			<div class="col-md-6">
				<div class="image">
				<img src="https://www-sit3.aws.foxtel.com.au/content/dam/foxtel/get/broadband/bb_flash.jpg" alt="bundle plan">
				</div>
			</div>
			<div class="col-md-6">
				<div class="bb-plan-detail">
					<div class="plan-heading">
						<div class="title">100<span>GB</span></div>
						<div class="sub-title">Entertainment Home Bundle</div>
						<p>Ideal for surfing the web, email and a little video or gaming</p>
					</div>
						
					<form name="form1" action="">
						<div class="plan-compare">						
							<div class="detail plan-1 active" >
								<div class="option-wrapper">
									<div class="radio-option is-checked">
										<input type="radio" name="bbplan" value="12" checked="checked"/>										
									</div>
										<div class="title">12 month plan</div>
									<div class="plan-price"><sup>$</sup>105<sup class="star">*</sup><sub>/mth</sub></div>
									<div class="extra-note">
										<p>EXTRA per month</p>
										<p>when added to you TV package</p>
									</div>
								</div>
								<div class="cost-item-row">
									<div class="cost-item-wrapper">
										<div class="cost-item">										
											<span class="label">Equipment fees</span>
											<a href="#" class="help-tooltip">
												<span class="icon-info"></span>
												<span class="tooltip-content">										
				            						<p class="title">Equipment fees</p>
				            						<div class="cost-item-breakdown">
				            							<div class="breakdown-row">
															<span class="breakdown-label">iQ2 set top box & remote</span>
															<span class="breakdown-price">$125</span>
														</div>
														<div class="breakdown-row">
															<span class="breakdown-label">Foxtel Hub modem</span>
															<span class="breakdown-price">$0</span>
														</div>
														<div class="breakdown-row total">
															<span class="breakdown-price">$125</span>
														</div>					
													</div>
				            						<p>Equipment fees are one off costs.</p>
													<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
				            						<b class="tooltip-arrow"></b>
			            						</span>
			        						</a>
		        						</div>
		        						<span class="item-price">$235</span>										
									</div>
								</div>
								<div class="cost-item-row">
									<div class="cost-item-wrapper">
										<div class="cost-item">
											<span class="label">Standard installation</span>
											<a href="#" class="help-tooltip">
												<span class="icon-info"></span>
												<span class="tooltip-content">										
				            						<p class="title">Installation fees</p>
				            						<div class="cost-item-breakdown">
				            							<div class="breakdown-row">
															<span class="breakdown-label">iQ2 set top box & remote</span>
															<span class="breakdown-price">$125</span>
														</div>
														<div class="breakdown-row">
															<span class="breakdown-label">Foxtel Hub modem</span>
															<span class="breakdown-price">$0</span>
														</div>
														<div class="breakdown-row total">
															<span class="breakdown-price">$125</span>
														</div>					
													</div>
				            						<p>Equipment fees are one off costs.</p>
													<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
				            						<b class="tooltip-arrow"></b>
			            						</span>
			        						</a>
										</div>
										<span class="item-price">$193</span>
									</div>
									<div class="note">Save $75 when you sign up online</div>
								</div>
								<div class="min-cost-content">
									<b>*Min cost $X,XXX on a 12 month plan</b> inc. one off costs, on a direct debit plan if you sign up online. <a href="https://www.foxtel.com.au/content/dam/foxtel/about/PDF/entertainment-50gb-home-bundle.pdf" target="_blank">Critical Information Summary</a>.
								</div>						
							</div>							
							<div class="detail plan-2">
								<div class="option-wrapper">
									<div class="radio-option">
										<input type="radio" name="bbplan" value="24"/>
									</div>
									<div class="title">24 month plan</div>
									<div class="plan-price"><sup>$</sup>105<sup class="star">*</sup><sub>/mth</sub></div>
									<div class="note">Save $20 per month</div>
								</div>
								<div class="cost-item-row">
									<div class="cost-item-wrapper">
										<div class="cost-item">										
											<span class="label">Equipment fees</span>
											<a href="#" class="help-tooltip">
												<span class="icon-info"></span>
												<span class="tooltip-content">										
				            						<p class="title">Equipment fees</p>
				            						<div class="cost-item-breakdown">
				            							<div class="breakdown-row">
															<span class="breakdown-label">iQ2 set top box & remote</span>
															<span class="breakdown-price">$125</span>
														</div>
														<div class="breakdown-row">
															<span class="breakdown-label">Foxtel Hub modem</span>
															<span class="breakdown-price">$0</span>
														</div>
														<div class="breakdown-row total">
															<span class="breakdown-price">$125</span>
														</div>					
													</div>
				            						<p>Equipment fees are one off costs.</p>
													<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
				            						<b class="tooltip-arrow"></b>
			            						</span>
			        						</a>
		        						</div>
		        						<span class="item-price">$125</span>										
									</div>
								</div>
								<div class="cost-item-row">
									<div class="cost-item-wrapper">
										<div class="cost-item">
											<span class="label">Standard installation</span>
											<a href="#" class="help-tooltip">
												<span class="icon-info"></span>
												<span class="tooltip-content">										
				            						<p class="title">Installation fees</p>
				            						<div class="cost-item-breakdown">
				            							<div class="breakdown-row">
															<span class="breakdown-label">iQ2 set top box & remote</span>
															<span class="breakdown-price">$125</span>
														</div>
														<div class="breakdown-row">
															<span class="breakdown-label">Foxtel Hub modem</span>
															<span class="breakdown-price">$0</span>
														</div>
														<div class="breakdown-row total">
															<span class="breakdown-price">$125</span>
														</div>					
													</div>
				            						<p>Equipment fees are one off costs.</p>
													<p>Your iQ2 fee is payable upfront by credit card and your Foxtel Hub is FREE on a 24 month contract.</p>
				            						<b class="tooltip-arrow"></b>
			            						</span>
			        						</a>
										</div>
										<span class="item-price">$134</span>
									</div>
									<div class="note">Save $75 when you sign up online</div>
								</div>
								<div class="min-cost-content">
									<b>*Min cost $X,XXX on a 24 month plan</b> inc. one off costs, on a direct debit plan if you sign up online. <a href="https://www.foxtel.com.au/content/dam/foxtel/about/PDF/entertainment-50gb-home-bundle.pdf" target="_blank">Critical Information Summary</a>.
								</div>						
							</div>							
						</div><!--plan-compare end-->
						<div class="sign-up-section">
							<div class="sign-up-box">
								<div class="sign-up-text"><b>Sign up online</b> and we'll waive the $75 standard TV install fee!</div>
								<div class="button"><a href="" class="btn_">Check Availability</a></div>
							</div>
							<div class="call-us-text">Or call us on 1300 785 622</div>
						</div>
					</form>	

				</div><!--bb-plan-detail end-->
			</div>
		</div><!--bb-plan end-->