		<div class="extras-content-wrapper">
			<div class="extras-content">
				<h3 class="extras-heading">Add optional <b>extras</b> on the next step...</h3>
				<p class="intro">You can customise your bundle with...</p>
				<div class="row">
					<div class="col-sm-6">
						<div class="extras-item">
							<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/get-optional-extras-1.jpg" alt="Channel packs" /></div>
							<div class="item-content">
								<div class="title">Channel packs</div>
								<div class="desc">Choose from Sports, Movies, Drama, Kids, Docos & Entertainment Plus</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="extras-item">
							<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/get-optional-extras-2.jpg" alt="Multiroom" /></div>
							<div class="item-content">
								<div class="title">Multiroom</div>
								<div class="desc">Get Foxtel in a whole bunch of rooms</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="extras-item">
							<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/phone-features.png" alt="Phone features" /></div>
							<div class="item-content">
								<div class="title">Phone features</div>
								<div class="desc">You can add multiple numbers, phone & fax line or a silent number.</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="extras-item">
							<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/call-packs.png" alt="Call packs" /></div>
							<div class="item-content">
								<div class="title">Call packs</div>
								<div class="desc">Save with unlimited standard mobile & national calls or discounted international calls.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bundle-block">a
			<div class="block-title">ENTERTAINMENT 100GB HOME BUNDLE</div>
			<div class="block-detail">
				<ul class="list">
					<li>&#10004; Foxtel iQ with Entertainment pack</li>
					<li>&#10004; 100GB Broadband</li>
					<li>&#10004; Home phone</li>
				</ul>
				<hr class="hr-divider">
				<div>$95* for the first month</div>
				<div class="note">After offer ends:</div>				
				<div class="price"><sup>$</sup>105<sup>*</sup></div>
				<div class="note">per month on a 12 month direct debit plan</div>
				<div class="note">*Offers Applied</div>	
				<div class="offers">$0 off Platinum HD for 1 month</div>
				<div class="note marginless">Expires 06 February 2016</div>	
				<div class="offers">$20 Platinum HD Bundle offer</div>
				<hr class="hr-divider">			
				<div class="min-cost-content"><b>*Min cost $XXXX on a 12 month direct debit plan</b>, includes applicable equipment, installation and activation fees.</div>
				<div class="button"><a href="" class="btn_">Check Availability</a></div>
			</div>
		</div>