		<!-- Two col footer -->
			<div class="row">
				<div class="col-xs-12 col-sm-6 footer-bullet-listing">
					<h2>Good to know...</h2>
					<ul class="listing-check">
						<li>Use your data whenever you want with no on/off peak restrictions</li>
						<li>24/7 support with our dedicated Tech Squad so you can get back to enjoying your favourite entertainment</li>
						<li><span class="bullet-tick-item">You will have access to <a href="" class="grey-dark with-underline">Foxtel Go</a> so you can watch Foxtel on your phone, tablet or computer.</span></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 footer-bullet-listing-faq">
					<h2>FAQs</h2>
					<div class="panel-group faq-collapse" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne">
					      <h4 class="panel-title">
					        <a role="button" class="btn_link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					        	<span class="icon-info"></span>
					          	<span>How do I know if I can get Foxtel broadband?</span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					      <div class="panel-body">
					        Simply give us a call on 131 999 or drop us your details and we'll call you.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingTwo">
					      <h4 class="panel-title">
					        <a class="collapsed btn_link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					        	<span class="icon-info"></span>
					          	<span>Which network does Foxtel use to provide broadband services?</span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					      <div class="panel-body">
					        Foxtel uses the Telstra's broadband network&nbsp;– one of the largest broadband networks in Australia.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingThree">
					      <h4 class="panel-title">
					        <a class="collapsed btn_link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					        	<span class="icon-info"></span>
					          	<span>Can I transfer my existing phone number to Foxtel?</span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					      <div class="panel-body">
					        If you're staying in the same area, in most cases you'll be able to keep your number. Just let us know and we’ll check for you.
					      </div>
					    </div>
					  </div>
					</div>
					<div class="mt-10 see-all-faqs-btn">
						<a href="" alt="See all FAQs" class="btn_link orange-link"><span>See all FAQs</span><span class="icon-arrow-right"></span></a>
					</div>
				</div>
			</div>
			<div class="row call-back-btn">
				<h3>Still have questions? <div class="visible-xs"></div>call us on 1300 785 622 or <div class="visible-xs"></div><a href="" class="grey-dark with-underline">have us to call you back</a></h3>
			</div>
