<div class="footernavigationcomp basecomp">
	<div class="footer-nav-global">
		<div class="container-fluid border-container">
			<div class="row">
				<div class="container">
					<div class="row footer-nav-tab">
						<div class="col-sm-1 home hidden-xs ">

							<a href="http://www.foxtel.com.au/index.html" title="Foxtel For Home" class="wi-icon icon-home">
								Foxtel For Home <em class="bg-line"></em>
							</a>
						</div>

						<div class="col-sm-2 col-xs-6 active">
							<a href="http://www.foxtel.com.au/get.html" title="New customers ">
								New customers
								<span class="visible-lg">Get Foxtel</span> <em class="bg-line"></em>
							</a>
						</div>

						<div class="col-sm-3 col-xs-6">
							<a href="http://www.foxtel.com.au/got.html" title="Existing customers ">
								Existing customers
								<span class="visible-lg">Upgrade, get help, see what's on</span>
								<em class="bg-line"></em>
							</a>
						</div>
						<div class="col-sm-3 hidden-xs">
							<a href="http://www.foxtel.com.au/business/default.htm" title="For Business ">
								<em class="foxtel-text">Foxtel</em>
								For Business
								<span class="visible-lg">Get Foxtel or manage your service</span>
								<em class="bg-line"></em>
							</a>
						</div>

						<div class="col-sm-3 hidden-xs wrap-btn">
							<a href="http://www.foxtel.com.au/whats-on/tv-guide/default.htm" title="TV GUIDE" class="btn btn-cta">TV GUIDE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-gray " data-maxheight-content="">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-sm-9">
							<div class="row">
								<div class="col-sm-4 hidden-xs">
									<div class="block">
										<p class="help-text">
											Packages, pricing and information for new Foxtel residential customers
										</p>
									</div>
								</div>
								<div class="col-sm-4 border-left">
									<div class="block" data-maxheight-child="footer" style="height: 141px;">
										<ul class="list-link">
											<li class="active">
												<a href="https://www.foxtel.com.au/shop/packages-and-deals/" title="TV Combos">TV Combos</a>
											</li>
											<li>
												<a href="http://www.foxtel.com.au/get/broadband-bundles.html" title="Broadband Bundles">Broadband Bundles</a>
											</li>
											<li>
												<a href="http://www.foxtel.com.au/get/how-it-works.html" title="How it Works">How it Works</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-sm-4 border-left hidden-xs">
									<div class="block" data-maxheight-child="footer" style="height: 141px;">
										<ul class="list-link">
											<li>
												<a href="http://www.foxtel.com.au/get/tv-combos.html" title="Popular Combos">Popular Combos</a>
											</li>
											<li class="active">
												<a href="./etc/designs/foxtel/Build Your Own.html" title="Build your own">Build your own</a>
											</li>
											<li>
												<a href="" title="Foxtel Play">Foxtel Play</a>
											</li>
											<li>
												<a href="http://www.foxtel.com.au/business.html" title="For Business">For Business</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3 ">
							<div class="block border-left" data-maxheight-child="footer" style="height: 141px;">
								<div class="btn-wraper hidden-lg hidden-md hidden-sm">
									<a href="http://www.foxtel.com.au/business/default.htm" title="For Business" class="btn btn-primary btn-for-business">For Business</a>
									<a href="http://www.foxtel.com.au/whats-on/tv-guide/default.htm" title="TV GUIDE" class="btn btn-cta">TV GUIDE</a>

								</div>
								<ul class="social-link">
									<li>
										<a href="https://twitter.com/FOXTEL" title="Social Link" target="_blank">
											<img src="./etc/designs/foxtel/clientlibs/img/social-twitter.png" alt="Social Icon"></a>
									</li>
									<li>
										<a href="https://www.facebook.com/FOXTEL" title="Social Link" target="_blank">
											<img src="./etc/designs/foxtel/clientlibs/img/social-facebook.png" alt="Social Icon"></a>
									</li>
									<li>
										<a href="https://www.youtube.com/user/FOXTEL" title="Social Link" target="_blank">
											<img src="./etc/designs/foxtel/clientlibs/img/social-youtube.png" alt="Social Icon"></a>
									</li>
									<li>
										<a href="https://plus.google.com/u/0/+foxtel" title="Social Link" target="_blank">
											<img src="./etc/designs/foxtel/clientlibs/img/social-google-plus.png" alt="Social Icon"></a>
									</li>
								</ul>
								<div class="phone-info hidden-xs">
									<span>Call us:</span>
									<p class="phone-number">
										<a style="font-size:30px" href="tel:1300788796">1300 788 796</a>
									</p>
									<a href="" title=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footerlinkcomp basecomp">
	<footer class="footer-global">
		<div class="row">
			<div class="container">
				<div class="navbar-global" role="contentinfo">
					<div class="navbar-footer-global">
						<p class="copyright">Foxtel 2015</p>
						<a class="navbar-toggle-global hidden-lg hidden-md hidden-sm" data-toggle="collapse" href="http://www.foxtel.com.au/get/build-your-own.html#navbar-1">Disclaimer and more...</a>
					</div>
					<nav class="navbar-collapse-global hidden-xs" id="navbar-1" role="navigation">
						<ul class="navbar-nav-global">
							<li>
								<a href="http://www.foxtel.com.au/about.html" title="About Foxtel">About Foxtel</a>
							</li>
							<li>
								<a href="http://www.foxtel.com.au/about/customer-terms.html" title="Customer Terms">Customer Terms</a>
							</li>
							<li>
								<a href="http://www.foxtel.com.au/about/legal-stuff.html" title="Legal Stuff">Legal Stuff</a>
							</li>
							<li>
								<a href="http://www.foxtel.com.au/about/privacy.html" title="Privacy">Privacy</a>
							</li>
							<li>
								<a href="http://careers.foxtel.com.au/" title="Careers">Careers</a>
							</li>
							<li>
								<a href="http://www.foxtel.com.au/about/contact-us.html" title="Contact Us">Contact Us</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
</div>