	    <!-- price bundles - start -->
		<div class="row mt-10">
			<div class="col-xs-12 col-sm-3">
			  <div class="bundle bundle-orange">
			    <div class="bundle-content">
			      <h3 class="bundle-title text-center">50<span class="bundle-suffix">GB</span></h3>
			      <div class="bundle-section bundle-divider">
			        <img src="/etc/designs/foxtel/dam/icon-broadband.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband<sup>3</sup></h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>
			      </div>
			      <div class="bundle-section bundle-divider">
			        <img src="/etc/designs/foxtel/dam/icon-phone.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband</h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>
			      </div>
			      <div class="bundle-section bundle-divider">
			        <img src="/etc/designs/foxtel/dam/icon-tv.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband</h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>

			        <div class="bundle-pack">
			          <h5 class="bundle-sub-title">Entertainment pack</h5>
			          <p class="bundle-section-text">43 channels of brilliant TV for every taste, plus Foxtel iQ2 and Foxtel Go</p>
			        </div>
			      </div>
			    </div>
			    <div class="bundle-details">
			      <h3 class="bundle-detail-title"><span class="bundle-prefix-top">$</span>95<span class="bundle-suffix-bottom">/mth</span></h3>
			      <h4 class="bundle-secondary-title">EXTRA</h4>
			      <div class="bundle-detail-content">
			        <p class="bundle-detail-description">a month on a 12 or 24 month direct debit plan</h4>
			        
			        <div class="bundle-section-text">
			          <p><b>*Min cost $1638 on a 12 mth plan or $2729 on a 24 mth plan</b>, includes applicable equipment, installation, activation and connection fees.</p>
			        </div>
			        <a href="" class="btn_ btn_lng"><span>Bundle Details</span><span class="icon-arrow-right"></span></a>

			      </div>
			    </div>
			    <p class="bundle-footer">
				    <a href="" alt="">
				    	Critical information summary
					</a>
				</p>
			  </div>
			</div>
			<div class="col-xs-12 col-sm-3">
			  <div class="bundle bundle-pink">
			    <div class="bundle-content">
			      <h3 class="bundle-title text-center">50<span class="bundle-suffix">GB</span></h3>
			      <div class="bundle-section">
			        <img src="/etc/designs/foxtel/dam/icon-broadband.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband<sup>3</sup></h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>
			      </div>
			      <div class="bundle-section">
			        <img src="/etc/designs/foxtel/dam/icon-phone.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband</h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>
			      </div>
			      <div class="bundle-section">
			        <img src="/etc/designs/foxtel/dam/icon-tv.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband</h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>

			        <div class="bundle-pack">
			          <h5 class="bundle-sub-title">Entertainment pack</h5>
			          <p class="bundle-section-text">43 channels of brilliant TV for every taste, plus Foxtel iQ2 and Foxtel Go</p>
			        </div>
			      </div>
			    </div>
			    <div class="bundle-details">
			      <h3 class="bundle-detail-title"><span class="bundle-prefix-top">$</span>95<span class="bundle-prefix-top">*</span><span class="bundle-suffix-bottom">/mth</span></h3>
			      <h4 class="bundle-secondary-title">EXTRA</h4>
			      <div class="bundle-detail-content">
			        <p class="bundle-detail-description">a month on a 12 or 24 month direct debit plan</h4>
			        
			        <div class="bundle-section-text">
			          <p><b>*Min cost $1638 on a 12 mth plan or $2729 on a 24 mth plan</b>, includes applicable equipment, installation, activation and connection fees.</p>
			        </div>
			        <a href="" class="btn_ btn_lng"><span>Bundle Details</span><span class="icon-arrow-right"></span></a>

			      </div>
			    </div>
			    <p class="bundle-footer">
				    <a href="" alt="">
				    	Critical information summary
					</a>
				</p>
			  </div>
			</div>
			<div class="col-xs-12 col-sm-3">
			  <div class="bundle bundle-purple">
			    <div class="bundle-content">
			      <h3 class="bundle-title text-center">50<span class="bundle-suffix">GB</span></h3>
			      <div class="bundle-section">
			        <img src="/etc/designs/foxtel/dam/icon-broadband.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband<sup>3</sup></h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>
			      </div>
			      <div class="bundle-section">
			        <img src="/etc/designs/foxtel/dam/icon-phone.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband</h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>
			      </div>
			      <div class="bundle-section">
			        <img src="/etc/designs/foxtel/dam/icon-tv.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband</h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>

			        <div class="bundle-pack">
			          <h5 class="bundle-sub-title">Entertainment pack</h5>
			          <p class="bundle-section-text">43 channels of brilliant TV for every taste, plus Foxtel iQ2 and Foxtel Go</p>
			        </div>
			      </div>
			    </div>
			    <div class="bundle-details">
			      <h3 class="bundle-detail-title"><span class="bundle-prefix-top">$</span>95<span class="bundle-suffix-bottom">/mth</span></h3>
			      <h4 class="bundle-secondary-title">EXTRA</h4>
			      <div class="bundle-detail-content">
			        <p class="bundle-detail-description">a month on a 12 or 24 month direct debit plan</h4>
			        
			        <div class="bundle-section-text">
			          <p><b>*Min cost $1638 on a 12 mth plan or $2729 on a 24 mth plan</b>, includes applicable equipment, installation, activation and connection fees.</p>
			        </div>
			        <a href="" class="btn_ btn_lng"><span>Bundle Details</span><span class="icon-arrow-right"></span></a>

			      </div>
			    </div>
			    <p class="bundle-footer">
				    <a href="" alt="">
				    	Critical information summary
					</a>
				</p>
			  </div>
			</div>
			<div class="col-xs-12 col-sm-3">
			  <div class="bundle bundle-blue">
			    <div class="bundle-content">
			      <h3 class="bundle-title text-center">50<span class="bundle-suffix">GB</span></h3>
			      <div class="bundle-section">
			        <img src="/etc/designs/foxtel/dam/icon-broadband.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband<sup>3</sup></h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>
			      </div>
			      <div class="bundle-section">
			        <img src="/etc/designs/foxtel/dam/icon-phone.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband</h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>
			      </div>
			      <div class="bundle-section">
			        <img src="/etc/designs/foxtel/dam/icon-tv.png" alt="Bundle Title" class="bundle-icon pull-left"/>
			        <h4 class="bundle-section-title">50GB Broadband</h4>
			        <p class="bundle-section-text">Ideal for surfing the web, email and a little video or gaming </p>

			        <div class="bundle-pack">
			          <h5 class="bundle-sub-title">Entertainment pack</h5>
			          <p class="bundle-section-text">43 channels of brilliant TV for every taste, plus Foxtel iQ2 and Foxtel Go</p>
			        </div>
			      </div>
			    </div>
			    <div class="bundle-details">
			      <h3 class="bundle-detail-title"><span class="bundle-prefix-top">$</span>95<span class="bundle-suffix-bottom">/mth</span></h3>
			      <h4 class="bundle-secondary-title">EXTRA</h4>
			      <div class="bundle-detail-content">
			        <p class="bundle-detail-description">a month on a 12 or 24 month direct debit plan</h4>
			        
			        <div class="bundle-section-text">
			          <p><b>*Min cost $1638 on a 12 mth plan or $2729 on a 24 mth plan</b>, includes applicable equipment, installation, activation and connection fees.</p>
			        </div>
			        <a href="" class="btn_ btn_lng"><span>Bundle Details</span><span class="icon-arrow-right"></span></a>

			      </div>			      
			    </div>
			    <p class="bundle-footer">
				    <a href="" alt="">
				    	Critical information summary
					</a>
				</p>
			  </div>
			</div>                
		</div>