    <div class="row">
      <!-- carousel - start -->
      <div id="desktop-generic-carousel" class="desktop-generic-carousel carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <div class="container">
          <ol class="carousel-indicators">
            <li generic-carousel-target="#desktop-generic-carousel" generic-carousel-slide-to="0" class="thiscol1 col-sm-4">
                  <p class="carousel-titles btn_link">
                  <span class="content">One of the largest broadband networks in Australia</span>
                  <span class="icon-arrow-bottom icon--orange toggle-icon-arrows"></span>
                  </p>
            </li>
            <li generic-carousel-target="#desktop-generic-carousel" generic-carousel-slide-to="1" class="thiscol2 col-sm-4">
                  <p class="carousel-titles btn_link">
                  <span class="content">A WIFI modem designed for fast WIFI speeds</span>
                  <span class="icon-arrow-bottom icon--orange toggle-icon-arrows"></span>
                  </p>
            </li>
            <li generic-carousel-target="#desktop-generic-carousel" generic-carousel-slide-to="2" class="thiscol3 col-sm-4">
                  <p class="carousel-titles btn_link">
                  <span class="content">Hassle free connection with our Switch Squad</span>
                  <span class="icon-arrow-bottom icon--orange toggle-icon-arrows"></span>
                  </p>
            </li>
          </ol>
        </div>
              
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          <div class="item active">
              <div class="carousel-inner-top-border visible-sm*">
                <div class="carousel-gradient-border"></div>
              </div>
              <div class="container carousel-inner-content">
                <h3 class="text-center mb-40">One of the largest broadband networks in Australia</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 mb-20">
                      <h3>This Broadband Bundle offers:</h3>
                      <ul class="listing-square">
                          <li>50GB of included monthly data, with no peak/off-peak limits, so you can use your data anytime.<sup>4</sup></li>
                          <li>A WiFi modem that is designed to deliver fast WiFi speeds5, better coverage and easy streaming to multiple devices all within your home.<sup>5</sup></li>
                          <li>No data download limits for Foxtel TV on Foxtel Go when connected to Foxtel Broadband.<sup>3</sup></li>
                      </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <img src="https://www.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/got-upgrades-bundles-bubbles.png" width="100%">
                    </div>
                </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-inner-top-border visible-sm*">
                <div class="carousel-gradient-border"></div>
              </div>
              <div class="container carousel-inner-content">
                <h3 class="text-center mb-40">A WIFI modem designed for fast WIFI speeds</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 mb-20">
                      <h3>This Broadband Bundle offers:</h3>
                      <ul class="listing-square">
                          <li>50GB of included monthly data, with no peak/off-peak limits, so you can use your data anytime.<sup>4</sup></li>
                          <li>A WiFi modem that is designed to deliver fast WiFi speeds5, better coverage and easy streaming to multiple devices all within your home.<sup>5</sup></li>
                          <li>No data download limits for Foxtel TV on Foxtel Go when connected to Foxtel Broadband.<sup>3</sup></li>
                      </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <img src="https://www.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/got-upgrades-bundles-bubbles.png" width="100%">
                    </div>
                </div>
              </div>
          </div>
          <div class="item">
              <div class="carousel-inner-top-border visible-sm*">
                <div class="carousel-gradient-border"></div>
              </div>
              <div class="container carousel-inner-content">
                <h3 class="text-center mb-40">Hassle free connection with our Switch Squad</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 mb-20">
                      <h3>This Broadband Bundle offers:</h3>
                      <ul class="listing-square">
                          <li>50GB of included monthly data, with no peak/off-peak limits, so you can use your data anytime.<sup>4</sup></li>
                          <li>A WiFi modem that is designed to deliver fast WiFi speeds5, better coverage and easy streaming to multiple devices all within your home.<sup>5</sup></li>
                          <li>No data download limits for Foxtel TV on Foxtel Go when connected to Foxtel Broadband.<sup>3</sup></li>
                      </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <img src="https://www.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/got-upgrades-bundles-bubbles.png" width="100%">
                    </div>
                </div>
              </div>
          </div>
          <div class="carousel-control-container">
            <!-- Controls -->
              <a class="left carousel-control" href="#desktop-generic-carousel" role="button" data-slide="prev">
                <span class="icon-arrow-left-thin"></span>
              </a>
              <a class="right carousel-control" href="#desktop-generic-carousel" role="button" data-slide="next">
                <span class="icon-arrow-right-thin"></span>
              </a>
            </div>
          </div>
      </div>
      <!-- carousel - end -->
    </div>
    <!-- mobile collapse - start -->
    <div class="container panel-group mobile-collapsable-content mt-20 mb-20" id="accordion" role="tablist" aria-multiselectable="true"></div>
    <!-- mobile collapse - end -->
