<div class="container-fluid header-layer">
		<div class="row hidden-xs">
			<div class="img-package-combos">
				<img alt="" src="./etc/designs/foxtel/clientlibs/img/seelct-and-customise-banner.jpg">
			</div>
		</div>
		<div class="compos-block main-feature-container hidden-xs">
			<div class="container hidden-xs">
				<div class="row">
					<div class="col-xs-12 mt-40 pb-40">
						<p class="main-feature font--thin font--lg">Broadband bundles</p>
					</div>
				</div>
			</div>
			<div class="menu-subnav-group">
				<div class="container bb-detail-tabs">
					<div class="row">
						<div class="col-sm-4">
							<div class="tab bb-tab-orange active">
								<a href="#" class="text one-line">
									100<span>GB</span>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="tab bb-tab-pink">
								<a href="#" class="text two-lines">
									UNLIMITED<span>START WITH THE BASICS</span>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="tab bb-tab-purple">
								<a href="#" class="text two-lines">
									UNLIMITED<span>GET THE WHOLE LOT</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row visible-xs">
			<div class="hd-page-title-color">
				<h1>100GB</h1>
			</div>
		</div>
	</div>