	<div class="row">
		<div class="main-feature-container">
			<div class="highlight-block-temp">
				<div class="container-fluid header-layer">
					<div class="row">
						<div class="img-package-combos">
							<img alt="" src="./etc/designs/foxtel/clientlibs/img/seelct-and-customise-banner.jpg">
						</div>
					</div>
					<div class="row">
						<div class="menu-group">
						    <ul class="sub-nav-1">
						        <li class="landing"><a href="javascript:;" title="">Shop &amp; Upgrades</a></li>
						        <li><a href="javascript:;" title="Bundles">Broadband + Homepage</a></li>
						    </ul>
							<div class="sub-navigation ">
							    <div class="container">
							        <ul class="landing-list">
							            <li class="active"><a href="/got/upgrades/broadband/bundles.html" title="Bundles">Bundles</a></li>
							            <li><a href="/got/upgrades/broadband/why-bundle.html" title="Why Bundle?">Why Bundle?</a></li>
							            <li><a href="/got/upgrades/broadband/foxtel-hub.html" title="Foxtel Hub WiFi Modem">Foxtel Hub WiFi Modem</a></li>
							            <li><a href="/got/upgrades/broadband/extras.html" title="Extras">Extras</a></li>
							            <li>
					                        <a href="/got/upgrades/broadband/broadband-bundles.html.html" title="New Customer" class="btn_link">                       
					                            <span>NEW CUSTOMER</span>
					                            <span class="icon-arrow-right"></span>
					                        </a>							      
							            </li>
							        </ul>
							    </div>
							</div>
						</div>
					</div>

					<div class="compos-block main-feature-container">
						<div class="container">
							<div class="row">
								<div class="main-feature-back-link hidden-xs">
							      <a href="" class="btn_link"> 
							      	<span class="icon-arrow-left color-orange-1"></span> 
							        <span class="main-feature-back-btn">Shop</span>&nbsp;
							        <span class="main-feature-back-title"> : Broadband & Home phone</span>						        
							      </a> 
							    </div>
			
								<div class="main-feature-container">
									<p class="main-feature font--thin font--md">Hang on tight - things are</p>
									<p class="main-feature font--thin font--md">about to get awesome!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>