		<div class="row">
		  <a href="/got.html" class="gradient-box skin-dark-blue"> 
		    <div class="gradient-box-content-wrapper">
				<div class="gradient-box-content">
					<p class="gradient-box-title">Not an existing Platinum HD customer?</p>
					<p class="gradient-box-subtitle">See if you are eligible for our Platinum HD Unlimited Home bundle</p>
				</div>
		    </div> 
			<div class="gradient-box-icon-wrapper">
				<div class="gradient-box-icon">
					<span class="icon-arrow-right-chevron"></span>
				</div>
			</div>
		  </a> 
		</div>