<div class="parbase gheadercomp">
	<header class="global-header-customer navbar navbar-default navbar-fixed-top" data-toggleresponsive="open" data-class-toggle="open">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 visible-xs-block">
					<a href="javascript:;" title="" class="home-header-btn" data-back-page="">
						<span class="wi-icon icon-back-header"></span>
					</a>
				</div>
				<div class="col-xs-6 col-xs-offset-1 col-sm-2 col-sm-offset-0">
					<div class="top-logo-block">
						<a href="http://www.foxtel.com.au/get.html" title="Get Foxtel" class="logo-customer-page">
							<img src="./etc/designs/foxtel/clientlibs/img/foxtel-logo.png" alt="Foxtel">
						</a>
						<div class="content-menu">
							<div class="wysiwyg">
								<ul class="list-arrow">
									<li><span class="bullet-arrow-item"><a href="http://www.foxtel.com.au/get.html" adhocenable="false">GET Foxtel</a></span></li>
									<li><span class="bullet-arrow-item"><a href="http://www.foxtel.com.au/got.html" adhocenable="false">GOT Foxtel</a></span></li>
									<li><span class="bullet-arrow-item"><a href="http://www.foxtel.com.au/business/default.htm">For Business</a></span></li>
									<li><span class="bullet-arrow-item"><a href="http://access.foxtel.com.au/">Access Rewards</a></span></li>
									<li><span class="bullet-arrow-item"><a href="http://www.foxtel.com.au/index.html">Foxtel home</a></span></li>
								</ul>
								<p>
									<a href="http://www.foxtel.com.au/whats-on/tv-guide/default.htm" title="TV GUIDE" class="btn btn-cta" adhocenable="false">TV GUIDE</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="hidden-xs col-sm-8">
					<ul class="top-level-nav">
						<li >
							<a href="/about/the-company.html" title="The Company"><span>The Company</span></a>
							<div class="content-menu">
								<div class="wysiwyg">
									<ul>
										<li><span class="bullet-arrow-item"><a adhocenable="false" href="/about/the-company/company-profile.html">Company profile</a></span></li>
										<li><span class="bullet-arrow-item"><a adhocenable="false" href="/about/the-company/meet-the-board.html">Meet the board</a></span></li>
										<li><span class="bullet-arrow-item"><a adhocenable="false" href="/about/the-company/making-a-difference.html">Making a difference</a></span></li>
									</ul>
								</div>
							</div>
						</li>
						<li >
							<a href="/about/media-centre/press-releases.html" title="Media Centre"><span>Media Centre</span></a>
							<div class="content-menu">
								<div class="wysiwyg">
									<ul>
										<li><span class="bullet-arrow-item"><a adhocenable="false" href="/about/media-centre/press-releases.html">Press releases</a></span></li>
										<li><span class="bullet-arrow-item"><a adhocenable="false" href="/about/media-centre/submissions.html">Submissions</a></span></li>
										<li><span class="bullet-arrow-item"><a adhocenable="false" href="/about/media-centre/shareholdings.html">Shareholdings</a></span></li>
									</ul>
								</div>
							</div>
						</li>
						<li class="active">
							<a href="/about/contact-us.html" title="Contact Us"><span>Contact Us</span></a>
						</li>
					</ul>
				</div>

				<div class="col-xs-3 col-sm-2">
					<div class="row row-custom-xs">
						<div class="col-xs-6 col-sm-12 col-sm-offset-0">
							<div class="top-search">
								<a href="javascript:;" title="" class="visible-xs-block btn-top-search" data-toggleresponsive-next="open">&nbsp;</a>
								<form action="http://www.foxtel.com.au/get/search.html" autocomplete="off" method="get" class="top-search-form hidden-xs" id="top-search-form">
									<label for="top-search-text" class="is-hidden"></label>
									<input type="text" name="q" class="top-search-text" id="top-search-text" value="Search" onblur="if (this.value == &#39;&#39;) this.value = &#39;Search&#39;;" onfocus="if (this.value == &#39;Search&#39;) this.value = &#39;&#39;;" data-autocomplete="top-site-search" data-default-value="Search" data-autocomplete-link="https://www-prod.aws.foxtel.com.au/search-service/v1/suggest" data-autocomplete-category="All Results|TV Guide|Support">
									<input type="submit" class="btn-top-search">
								</form>
							</div>
							<div class="top-search-tablet-div"><a href="#">expand search</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="cta-group top-search">
				<form action="http://www.foxtel.com.au/get/search.html" method="get" autocomplete="off" class="top-search-form" id="top-search-form-mobile">
					<label for="top-search-text" class="is-hidden"></label>
					<input type="text" name="q" class="top-search-text" id="top-search-mobile-text" value="Search" onblur="if (this.value == &#39;&#39;) this.value = &#39;Search&#39;;" onfocus="if (this.value == &#39;Search&#39;) this.value = &#39;&#39;;" data-autocomplete="top-site-search" data-default-value="Search" data-autocomplete-link="https://www-prod.aws.foxtel.com.au/search-service/v1/suggest" data-autocomplete-category="All Results|TV Guide|Support">
					<input type="submit" class="btn-top-search hidden-xs">
				</form>
				<div class="visible-xs-block cta-header-block">
					<ul class="cta-list">
						<li>
							<a href="http://www.foxtel.com.au/get.html" title=""><i class="wi-header-icon icon-get-cta"></i>Get<span>Foxtel</span></a>
						</li>
						<li>
							<a href="http://www.foxtel.com.au/got.html" title=""><i class="wi-header-icon icon-got-cta"></i>Got<span>Foxtel</span></a>
						</li>
						<li>
							<a href="http://www.foxtel.com.au/business/default.htm.html" title=""><i class="wi-header-icon icon-business-cta"></i>For<span>Business</span></a>
						</li>
					</ul>
					<a href="http://www.foxtel.com.au/whats-on/tv-guide/default.htm.html" title="" class="btn btn-cta">Tv guide</a>
				</div>
			</div>
		</div>
	</header>
</div>