		<div class="benefit-section">
			<h3 class="benefit-heading">Plus, with Foxtel you'll also get...</h3>
			<div class="row">
				<div class="col-sm-4">
					<div class="benefit-item">
						<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/flexibility-logo.png" alt="Flexibility to change" /></div>
						<div class="item-content">
							<h3 class="title">Flexibility to change</h3>
							<div class="desc">Change your plan once a month with no charge</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="benefit-item">
						<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/stress-free-logo.png" alt="Stress-free connection" /></div>
						<div class="item-content">
							<h3 class="title">Stress-free connection</h3>
							<div class="desc">Our dedicated Switch Squad will get you set up</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="benefit-item">
						<div class="image"><img src="https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/clientlibs1/img/support-logo.png" alt="Fulltime support" /></div>
						<div class="item-content">
							<h3 class="title">Fulltime support</h3>
							<div class="desc">From our 24x7 Fix Squad</div>
						</div>
					</div>
				</div>
			</div>
		</div>
