<div class="terms-conditions-global">
	<div class="row row-tc">
		<div class="container container-tc">
			<div class="row">
				<div class="footer-tc col-xs-12">
					<h3>Things you should know</h3>
					<p></p>
					<p>
						*All quoted monthly prices and minimum cost pricing are based on current pricing. Our prices may change from time to time in accordance with the
						<a href="http://www.foxtel.com.au/content/dam/foxtel/support/pdf/residential-subscription-agreement.pdf">Residential Subscription Television Agreement</a>
						. New residential subscribers and single standard installs only. Cancel fee applies to fixed term contracts. MyStar HD box also available to customers in selected regional areas: functionality differs to the iQHD box. Foxtel and some services not available to all homes.
						<br>
						~(Foxtel Play) New residential users with a compatible internet connected device running an eligible operating system. See full list of compatible devices here. Not all channels/content available on all devices with Foxtel Play. Ongoing subscription fees reflective of your package apply unless you cancel your subscription. Broadband Internet connection with minimum speed of at least 3Mbps required. ISP and data charges may apply. Only available for use in Australia. Video quality may vary. Full terms and conditions available at www.foxtel.com.au/foxtelplay/terms
						<br>
						<sup>1</sup>
						Available on internet enabled and connected Foxtel iQ STUs. You must subscribe to a channel in your residential pack to access corresponding content. Not available on all channels/programming. ISP and data charges may apply. Some services not available to all homes.
						<br>
						<sup>2</sup>
						Available to Foxtel Residential Cable &amp; Satellite customers with a STU (excluding Optus TV feat Foxtel customers). You must subscribe to a channel (or relevant tier) in your residential pack to access content available from that channel. Not all channels/content available on all Foxtel Go devices. Available on compatible smartphones, tablet, PC &amp; Mac devices with an eligible operating system. See full list
						<a href="http://www.foxtel.com.au/get/how-it-works/tv/ways-to-watch.html">here</a>
						. Recommended internet speeds apply. Internet connection required. ISP and data charges may apply. Video quality may vary according to 3G/4G and WiFi service. Only available for use in Australia. Apple, the Apple logo, iPad, iPhone &amp; Mac are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc
					</p>
					<p></p>
				</div>
			</div>
		</div>
	</div>
</div>